[2019-09-24 14:56] tanzeeb opened #27 "Investigate the Automatic Protocol Selection feature of Istio 1.3"
## In what area(s)?

/area API
/area networking

## Describe the feature

Istio 1.3 supports ["Automatic Protocol Selection"](https://istio.io/docs/ops/traffic-management/protocol-selection/#automatic-protocol-selection), meaning we might not have to specify container port names to support `http` and `http2`.

This issue is to track the investigation of that feature.

Notes:
* We will need to supp

[2020-02-26 23:17] mattmoor opened #18 "Create net-istio specific webhook"
We should use this for config-istio validation, and some of the new stuff Thomas has planned around canonical service labels.

[2020-03-05 16:12] tcnghia commented on #18
/assign @trshafer

[2020-03-05 16:42] #18 closed

[2020-03-11 04:18] itsmurugappan opened #34 "http redirect should not be added to cluster local gateway"
Steps to reproduce :

1. Enable Auto TLS
2. Create 2 service one cluster local and other ingress svc

The cluster local svc never gets ready.

TLS redirect gets added to the cluster local gateway

[code]

This doesnt happen the second time (i.e. if you remove the tls redirect from gateway, delete services and recreate) . Only during first time certificate reconciliation.

[2020-03-11 04:21] itsmurugappan commented on #34
@ZhiminXiang @tcnghia This func adds the redirect for all gateways. https://github.com/knative/net-istio/blob/53bb214aeddf3773bf6e838f4016080c44ed811d/pkg/reconciler/ingress/resources/gateway.go#L204

Can we check the name of the gateway before adding the redirect. ?
if this looks good I can send a PR.

[2020-03-11 04:40] ZhiminXiang commented on #34
@itsmurugappan from the code [here](https://github.com/knative/net-istio/blob/c3f66b13285475869696ac8341cf5cc35f7fa638/pkg/reconciler/ingress/ingress.go#L164), we only update http server for public Gateway. We don't reconcile cluster local gateway.

Could you share me the cluster local gateway in your cluster?

[2020-03-11 04:50] itsmurugappan commented on #34
[code]

[2020-03-11 04:57] itsmurugappan commented on #34
Sequence of events
1. Current state of gateway (generation 13)
2. Edit gateway to remove tls
3. Create new svc
4. Gateway changes with tls redirect (generation 15)
[code]

[2020-03-11 06:26] ZhiminXiang commented on #34
@itsmurugappan Also I am not able to reproduce it against the master branch.
Did you test this against master? We probably had this issue in old versions (I guess versions older than release 0.13).
I think this issue should have been fixed by https://github.com/knative/net-istio/commit/80b9fbda6e9443f7423374136d4f5bff466751cd#diff-cad42d1a0dbd779ec215f1003240d5cf which is a part of release-0.13.

[2020-03-11 06:30] itsmurugappan commented on #34
@ZhiminXiang my cluster has 0.12 version. i will check against 0.13 and let you know.

[2020-03-11 14:05] itsmurugappan commented on #34
Thanks for checking @ZhiminXiang . Upgrading 0.13 fixed the issue.

[2020-03-11 14:05] #34 closed

[2020-03-12 05:34] tcnghia opened #36 "Remove config-autoscale dependency from controller & webhook"

[2020-03-12 05:38] tcnghia opened #37 "Remove config-defaults dependency from controller & webhook"

[2020-03-12 06:20] tcnghia commented on #36
Looks like the dependency is here

https://github.com/knative/serving/blob/master/pkg/apis/config/store.go#L23

and

https://github.com/knative/net-istio/blob/master/cmd/webhook/main.go#L62

[2020-03-12 06:20] tcnghia commented on #36
cc @mattmoor ^

[2020-03-13 20:51] yanniszark opened #44 "Generated VirtualService contains wrong gateways field"
The gateways field of the VirtualService CRD indicates to which Istio
Gateways this VirtualService applies to.

At the moment, all configured gateways of are added to the gateways fields.
However, if the user wants to only specify a local gateway, they also
get the public gateway in that field.

This confuses the reconciler, which can't find the gateway and errors out.
The VirtualService generatio

[2020-03-13 22:37] #44 closed

[2020-03-18 16:58] trshafer opened #47 "Pull in istio canonical label strings from istio/api"
Upon the next release of istio/api, update the istio dependency and replace the canonical labels with the ones added in https://github.com/istio/api/pull/1339

[2020-03-20 16:52] tcnghia opened #50 "Investigate and switch to Istio v1beta1 API"
We should take a look at the new Istio v1beta1 API

https://github.com/istio/api/commits/master/networking/v1beta1

if it is ready for use, we should start a feature track to migrate to Istio v1beta1.

[2020-03-20 16:54] tcnghia opened #51 "Stop using Istio client library from knative.dev/serving"
Now that we separated the repo, we should start generating the client library in our repo instead of relying on vendoring from knative.dev/serving

[2020-03-20 16:58] tcnghia commented on #47
This is blocked by #51

[2020-03-20 17:29] trshafer commented on #51
/assign @trshafer

I'm happy to take a look at this, but it may take me a few days to get to it.

[2020-03-21 07:34] nak3 opened #53 "VirtualService gets validation error - unknown field "websocketUpgrade" in io.istio.networking.v1beta1.VirtualService.spec.http"
### steps to reproduce

##### step-0. Deploy istio (I used istio-1.5 with mesh&galley)

##### step-1. Deploy any ksvc

##### step-2. Edit virtualservice

[code]

##### step-3. Close __without__ edit (by `:q`).

### Actual result

Then, you get following error:

[code]

### Expected

The `websocketUpgrade` is already deprecated, so we should remove it.

https://github.com/knative/net-istio/blob/283

[2020-03-21 17:18] #53 closed

[2020-03-24 22:14] #51 closed

[2020-03-24 22:40] tcnghia commented on #47
#51 is fixed by #52

[2020-03-24 22:46] trshafer commented on #47
Thoughts on pulling from master instead of a release? I think since this was added after 1.5.0 was released, we should wait until 1.6 or 1.5.1 is released to pull those strings in.

[2020-03-24 22:59] tcnghia commented on #47
I don't feel comfortable about pulling from master... Given that we've already inlined the strings here ourselves, the benefit is small compared to risk.

[2020-03-24 23:00] trshafer commented on #47
Cool. I'll just wait.

[2020-04-11 14:45] howardjohn commented on #50
Its the same API with a new label for `beta`. We don't have any conversion webhook or anything so they are identical

[2020-04-12 19:01] tcnghia commented on #50
@howardjohn when do you plan to turn down the v1alpha3 API?  I'd love to wait until 1.4 is phased out, so both supported Istio versions (1.5, 1.6) speak v1beta1.

For existing  VirtualServices, would it be ok to have a short time when both v1beta1 VirtualService and v1alpha3 VirtualService exist?  I am paranoid about removing the v1alpha3 VirtualService before the corresponding v1beta1 VirtualServ

[2020-04-12 19:14] howardjohn commented on #50
Using alpha is identical to using beta at this point. We have not started doing anything like conversion webhooks, the APIs are identical now and the move was to symbolize stability more than anything. In the future this may change but that is the current state at least for 1.6

[2020-04-12 19:14] howardjohn commented on #50
So staying on alpha is fine

[2020-04-17 02:22] JRBANCEL opened #68 "Improve gatewayPodTargetLister"
* Coalesce `servers` across `Gateways`
* Maybe rewrite the implementation, it is messy and hard to read
* Intersect `Ingress.Spec.Rules.Hosts` with `Gateway.Spec.Servers[].Hosts`

[2020-05-09 00:34] Cynocracy opened #95 "Activator request proxying is incompatible with Istio ClusterRbac"
/area networking

While working through
https://cloud.google.com/solutions/authorizing-access-to-cloud-run-on-gke-services-using-istio#deploying_a_sample_service

A few issues came up:

JWT authorization needs to be disabled on some paths for the system to work (controller being able to ping the service, for example).

With the updated policy:

[code]

Things *mostly* work, with one large gap.

It

[2020-05-09 00:38] vagababov commented on #95
/label area-networking
/cc @tcnghia @ZhiminXiang @nak3

[2020-05-09 00:38] vagababov commented on #95
I guess in `net-istio` it's all networking :D

[2020-05-09 00:39] vagababov commented on #95
/cc @mattmoor
for visibility

[2020-05-09 00:41] vagababov commented on #95
It also probably prohibits Autoscaler to scrape the metrics from the pods, limiting all possible scaling decisions.
I think ideally either specific deployments or everything in `knative-serving` should be whitelisted for these specific paths.

[2020-05-09 02:00] Cynocracy commented on #95
:)

[2020-05-09 02:01] Cynocracy commented on #95
I can take a look, but IIRC controller -> pod and autoscaler -> pod traffic seemed alright.

[2020-05-09 02:19] vagababov commented on #95
Controller does not talk to pods, though. Only Autoscaler and Activator do.

[2020-05-09 04:33] vagababov commented on #95
As we confirmed Autoscaler can't talk either.

[2020-05-09 08:28] nak3 commented on #95
I have tested @Cynocracy's setting and the issue seemed replicable on my env.
Then the issue was fixed if I removed the `includedPaths` from the policy.

To be removed:
[code]

Actually our CI tests the policy without [`includedPaths`](https://github.com/knative/serving/blob/e14075aa8b4883c2d6d30c74c08e89ed356e9453/test/config/security/policy.yaml#L39-L55).

With said, in my understanding, having

[2020-05-09 23:18] ZhiminXiang commented on #95
I tried removing `includePaths`, things works.

Looks like in the Policy yaml in in https://github.com/knative/net-istio/issues/95#issue-615052497, the rule `includedPaths: prefix: /` will still be triggered even for the requests with excluded paths (e.g. `/_internal/knative/activator/probe`).

I guess Istio tries to match `includedPaths` first. If any path matches, the rule will be triggered. If

[2020-05-11 05:13] Cynocracy commented on #95
Huh, thanks folks! That was a simpler fix than I had imagined.

I'll test out the change and if all's clear I can close this out.

[2020-05-11 19:20] Cynocracy commented on #95
Unfortunately I'm not able to confirm :(

I'm setting up a cluster with the Policy

[code]

I'm still only able to hit the Service when the Activator isn't in the request path. In addition, when it's not in the request path, hitting /healthz returns

`RBAC: access denied`

which is different than the error seen when hitting a protected endpoint:

`Origin authentication failed.`

@nak3 @ZhiminXiang

[2020-05-11 20:32] Cynocracy commented on #95
Checking @ZhiminXiang 's example (thanks for sharing!) I see a few differences.

Later Knative version is being used
and the 'Invoker' ClusterRbac etc is missing.

I'll try those out and see if I have any luck :) The main issue there is that those are necessary to enforce
      request.auth.claims[email]:

But if those end up being problematic... I can shift to playing around with the settings the

[2020-05-11 20:41] Cynocracy commented on #95
Yup, I think those are actually the issue.

[code]

So now to figure out how to enforce these without making activator -> pod traffic unhappy.

[2020-05-11 21:00] Cynocracy commented on #95
[code]

May do the trick, trying it out now :)

[2020-05-11 23:15] Cynocracy commented on #95
No luck (so far). Continuing to prototype.

[2020-05-12 16:59] tcnghia commented on #95
@Cynocracy our tests also enable sidecar on Activator, so may be that's another thing to try.

[2020-05-15 02:10] Cynocracy commented on #95
Interesting, would labeling the namespace do the trick, or would that be overkill?

[2020-05-15 19:49] Cynocracy commented on #95
[code]

:( I'm starting to suspect my "allow traffic from namespace X" bit is failing.

[2020-05-15 22:51] Cynocracy commented on #95
OK, after much head desking it turns out the trick is to just completely ignore the deprecated ClusterRbacConfig feature and do it entirely using Authn/AuthzPolicies

[code]

[2020-05-26 17:18] JRBANCEL commented on #95
@Cynocracy can this be closed?

[2020-05-27 01:20] halvards commented on #95
Article is updated, just waiting for a small PR to be merged to the sample code repo: https://github.com/GoogleCloudPlatform/cloud-run-samples/pull/24

Had to use `request.auth.claims[email]` in the authz policy instead of `request.auth.principal`. The latter maps to the `sub` claim from the JWT, and this contains the unique user ID rather than the IAM service account email address.

[2020-05-27 04:51] halvards commented on #95
PR has been merged.

[2020-05-29 22:12] tcnghia opened #124 "Investigate and use Istio 1.6 CRD Status"
According to https://istio.io/docs/reference/config/config-status/  Istio CRD Status is now available.

We should investigate and adopt this new feature.

[2020-05-29 22:14] tcnghia commented on #124
cc @ZhiminXiang @JRBANCEL @nak3 @therealmitchconnors

[2020-05-29 22:21] tcnghia commented on #124
BTW, for backward compatibility with more Istio versions, and this being _alpha_ feature we will probably need to have a feature flag to turn this on.

[2020-06-03 09:31] nak3 commented on #124
It would be easier to implement this to use VirtualService status only, but it would be great if we can use other CRD's status as pluggable.

For example, Knative on OpenShift uses another CRD(OpenShift Route) as a frontend LB and we want to make sure the OpenShift Route's status before Ksvc ready.

FYI @markusthoemmes

[2020-06-03 09:35] markusthoemmes commented on #124
@nak3 thanks for bringing that up but I don't think it'd need to be taken into account here. We kinda need a different design downstream to make that work "properly".

[2020-06-05 02:36] tcnghia opened #132 "Test knatve/net-istio with Istio 1.6 and stop testing with Istio 1.4"
See https://github.com/knative/serving/issues/8210

[2020-06-06 05:33] nak3 opened #135 "Rewrite TestProbeWhitelist e2e test"
related to https://github.com/knative/net-istio/issues/132 and https://github.com/knative/serving/issues/7507

[Istio 1.6](https://istio.io/news/releases/1.6.x/announcing-1.6/upgrade-notes/#support-ended-for-v1alpha1-security-policy) does not support `v1alpha1 authentication policy`.

Although it could be replaced with `v1beta1 RequestAuthentication`, the new RequestAuthentication does not support

[2020-06-06 05:36] nak3 commented on #135
FYI @itsmurugappan

[2020-06-06 15:36] itsmurugappan commented on #135
Thanks @nak3 I can work on it. /assign @itsmurugappan

[2020-06-06 15:36] itsmurugappan commented on #135
/assign @itsmurugappan

[2020-06-06 18:47] itsmurugappan commented on #135
@nak3 we were not using regex in the tests

[2020-06-07 07:49] nak3 opened #136 "knative/net-istio should support mesh mode for e2e?"
There are istio mesh mode specific in knative/serving like:

- TestProbeWhitelist
- ~~TestClusterLocalAuthorization~~
- TestServiceToServiceCall (with injection)
- ~~TestSvcToKubeSvc (trying to add https://github.com/knative/serving/pull/7670)~~

Although these tests should move to knative/net-istio instead of hosting in knative/serving, currently knative/net-istio seems not have the option to run

[2020-06-09 20:37] JRBANCEL commented on #124
/assign

[2020-06-18 05:24] JRBANCEL opened #150 "The webhook must be excluded from the mesh"
Currently, if Istio sidecar injection is enabled on `knative-serving` namespace, the webhook will also have a sidecar.
Given that the `MutatingWebhookConfiguration` specifies an expected CA for the certificate exposed by the webhook endpoint, a component outside of the mesh (e.g. `kube-api`) fails to contact the webhook when the sidecar tries to terminate the TLS connection, which happens in mTLS

[2020-06-18 05:48] nak3 commented on #150
@JRBANCEL
I agree. We should set injection `false` for webhook.
I (optimistically) assumed that we can set the namespace to permissive mode, but just got the feedback to use STRICT as https://github.com/knative/docs/issues/1130#issuecomment-645593574 yesterday.

[2020-06-18 06:05] vagababov commented on #150
Is this more or less generic annotation or it's istio specific?
Since we might need to to the same in some other places. Gloo, e.g.?

[2020-06-18 06:15] nak3 commented on #150
It is istio specific annotation. The `networking-istio` deployment already has it  https://github.com/knative/net-istio/blob/master/config/controller.yaml#L34. So I think we don't need the annotation for other Ingress but only for istio.

[2020-06-18 18:01] JRBANCEL commented on #150
All webhooks need it, including the `knative/serving` one.

[2020-06-18 18:12] vagababov commented on #150
My question was more towards what's the annotation to use for other meshes
vs istio only.

On Thu, Jun 18, 2020 at 11:02 AM Jean-Rémy Bancel <notifications@github.com>
wrote:

[2020-06-18 18:21] JRBANCEL commented on #150
The annotation is definitely not portable across platforms.

[2020-06-19 12:55] tshak commented on #150
I'm the one who made the comment about STRICT mode. It's a concern since auditing tools like Twistlock will probably not be happy to see even part of the mesh in PERMISSIVE mode. I don't claim to be an Istio expert by any means. It'd be great to have some feedback from the Istio team on this.

[2020-06-19 20:55] JRBANCEL commented on #150
What is your concern?
This work is to make it possible to run Knative with mTLS *STRICT*.
That's what you want, right?

[2020-06-20 10:14] tshak commented on #150
I apologize for not being clear. You are correct that STRICT for all namespaces is the goal. I was commenting on the original guidance which was to use PERMISSIVE mode in the `knative-serving` namespace. It appears as though that the recommendation has been changed in favor of removing istio injection from the webhook pods.

[2020-06-22 01:49] JRBANCEL commented on #150
I see. I am not sure that the goal is having everything be part of the mesh with mTLS strict, especially Webhooks since they are separate from the rest of the components (only `kube-api` calls the Webhook).
Now, I am not familiar with the typical security requirements, so maybe we should actually aim for that.
I'll explore keeping the Webhook inside the mesh and see if it possible for `kube-api` t

[2020-06-22 08:24] tshak commented on #150
The issue with PERMISSIVE in `knative-serving` is that this could potentially (I haven't proven it) open up a hole where a non-mesh service could get access to the mesh somehow. Essentially, anything communicating with services on the mesh must be on the mesh themselves. I'm in agreement with the approach of moving webhooks outside of the mesh . I don't see any benefit of them running in the mesh

[2020-06-22 16:27] JRBANCEL commented on #150
There are some benefits of being part of the mesh (i.e. having a sidecar injected) without really using the mesh part (as in the mTLS, peer-to-peer part) that can be used by Webhooks:
- unified logging/auditing of requests
- unified metrics reporting
- integration with some tools/dashboards

[2020-06-24 05:28] JRBANCEL commented on #150
I explored a couple options.

## Do not inject the sidecar
This is done with an annotation.
### Pros
Simple.
### Cons
How to annotate webhooks outside of this repository, such as `serving`?
No sidecar = no metrics, auditing, logs, compliance, etc...

## Use mTLS Permissive for Webhooks
[code]
### Pros
Simple and we can have an object in `net-istio` applying to the Webhook in `serving`.
Sidecar = m

[2020-06-25 12:04] tshak commented on #150
Great writeup. Regarding the first con:

I'd be curious from other folks running Istio if they are typically running webhooks on the mesh.  I'm not aware of any specific security requirement around running this type of traffic on the mesh. I believe that the TLS security between kube and webhooks is already sufficient and not prone to problems that a mesh typically mitigates such as developer misc

[2020-06-25 19:11] JRBANCEL commented on #150
I think you are correct, in the case of the Webhook, the value of a sidecar is not security as Envoy will be configured as a simple TCP proxy in this case (external caller -> mesh node with mTLS PERMISSIVE). But you still get the rest: metrics, logs, traffic graph, etc... that Istio mesh provides.

[2020-06-26 07:39] tshak commented on #150
I agree that there are possible benefits, I'm just curious if those benefits are being realized in practice. Prior to Knative, I never would have thought to run admission/mutating webhooks on mesh.

[2020-06-29 05:45] nak3 commented on #150
How about this?

- Release manifest ... does not add `sidecar.istio.io/inject=false`.
- Tests(e2e)       ... excludes webhook from the mesh by `kubectl patch` and test with mTLS strict mode.
- Doc              ... writes both how to exclude and include webhook from/in the mesh and use mTLS.

We should assume that we will not be able to add istio annotation to core component as https://github.com/k

[2020-06-29 12:57] tshak commented on #150
I would add:

- The Operator must add `sidecar.istio.io/inject=false` to all webhooks

We should not patch operator managed resources as that patch is not guaranteed to stick.

[2020-06-30 17:51] kevinnesta opened #164 "Istio 1.6 VirtualService and CORS allowOrigins not recognized"
Hello,

Trying to set CORS policy from [Istio 1.6.3 VirtualService](https://istio.io/latest/docs/reference/config/networking/virtual-service/#CorsPolicy) and especially '_allowOrigins_' field:
[code]

it leads the service _networking-istio_ to the following error:

[code]

Then, my Knative service is not ready:
[code]
Can you please give your feedback about that? Is there a workaround for now? Is

[2020-07-03 10:39] manuelstein opened #168 "Support different Ingress Service types"
AFAICS, only the LoadBalancer-type Ingressgateway service is currently supported. When Istio is installed with ingressgateway type NodePort or ClusterIP, the ingress gw status.loadbalancer field remains empty "{}" (k8s 1.16.4) and the Knative routes don't reconcile and are stuck with the Ready status set to "Unknown" and the reason "Uninitialized". A static IP can only be set if the cloud controll

[2020-07-09 12:00] nak3 opened #173 "Run e2e test mesh mode with "mesh only" config and without cluster-local-gateway"
As https://github.com/knative/serving/issues/8585 reported, "mesh only" setting has some simple bug and e2e tests missed them.

We should run e2e test mesh mode with `local-gateway.mesh: "mesh"` and without cluster-local-gateway.

[2020-07-14 19:27] tcnghia commented on #168
@manuelstein did you see a problem when using NodePort? If so, can you please post the problem you saw here?

[2020-07-14 19:32] tcnghia commented on #164
Latest v0.15 or 0.16 has https://github.com/knative/net-istio/pull/114 which allows unknown fields.

Can you please try that?

[2020-07-14 22:42] JRBANCEL commented on #124
I am not sure I understand. In your example, a custom Controller is used (to manage the OpenShift Route), right?
In this case, why does it matter what we do in this repo, specific to Istio?

Anyway, this is blocked because Istio 1.6 populates the `status` field [dynamically](https://github.com/istio/istio/blob/77d9c1040b1a56064f7e59593f53331cca6c7578/pilot/pkg/status/state.go#L195) and the `Virtua

[2020-07-15 21:26] #132 closed

[2020-07-20 23:39] JRBANCEL opened #181 "#175 is incorrectly still using 1.4 CRDs"
#175 is not doing what it is supposed to do because in Istio 1.6.x, there is no more Helm charts, so `download-istio.sh` doesn't work as expected.

/assign

[2020-07-21 00:47] JRBANCEL commented on #181
Since Helm charts are deprecated in 1.6.x, I was thinking of using `istioctl manifest generate` and check-in the output, but this is explicitly [not recommended](https://istio.io/latest/docs/setup/install/istioctl/#generate-a-manifest-before-installation).
I'll replace `download-istio.sh` and the checked-in YAMLs with `istioctl install` and profiles.

[2020-07-23 05:16] mattmoor opened #188 "Probing optimization take 2"
_This is the net-istio side of https://github.com/knative/serving/issues/8765._

Currently the network probing logic implements an optimization where a pod is assumed to have been fully programmed once any part of the network programming we are probing has been successfully verified.  In practice, this means that for each pod we are enqueuing N pieces of work and cancelling N-1 pieces of work for

[2020-07-23 14:49] trshafer commented on #47
Fixed by https://github.com/knative-sandbox/net-istio/pull/127

[2020-07-23 14:49] #47 closed

[2020-07-23 17:44] JRBANCEL commented on #188
This assume that any `host` will eventually return 200.

I am not 100% sure but I think this might be an issue because we might try to probe a `host` that is not going to be in the `Ingress` (because of internal/external hosts). Let me check.

/assign

[2020-07-23 17:59] mattmoor commented on #188
@JRBANCEL haven't cracked Istio's invocation in a while, but on the Contour side I'm partitioning the hosts by visibility, so I'd expect all probes to succeed.  LMK if you want to chat about it and we can figure it out (I'm out next week tho!).

[2020-07-23 18:01] JRBANCEL commented on #188
I am pretty sure that's what is done on the Istio side as well, but I haven't looked at this code in a while.

[2020-07-23 20:58] JRBANCEL commented on #188
I thought we were using the hosts defined in `Gateway.Spec.Servers[].Host` (as reported in https://github.com/knative-sandbox/net-istio/issues/68 (third item)) but it is not the case anymore. The hosts are coming from the Ingress object, so it should be fine to pick a random one.

[2020-07-24 15:20] #188 closed

[2020-07-27 19:01] #181 closed

[2020-07-29 23:13] JRBANCEL opened #197 "Istio minimum requirements need to be updated"
#147 introduces the use of the `v1beta1` API.
This requires at least Istio 1.5, otherwise the controllers will fail.

[2020-08-01 14:29] itsmurugappan opened #202 "grpc streams timeout"
### knative version

0.15

### Issue

I am able to create a unidirectional grpc stream server as ksvc successfully. But the stream gets terminated by timeout set on istio virtual service. This time out by default is set to the max revision time out value.

### Steps To Recreate

Create a unidirectional grpc stream server (where client receives the stream), deploy it as ksvc.
Have the ksvc timeout

[2020-08-01 18:47] vagababov commented on #202
This was fixed and then rolled back
/cc @mattmoor

[2020-08-08 02:56] tcnghia commented on #136
This is a good idea. Let's do it next milestone.

[2020-08-08 02:57] tcnghia commented on #202
This should be fixed by https://github.com/knative/networking/pull/64

[2020-08-08 02:57] #202 closed

[2020-08-08 04:10] itsmurugappan commented on #202
Thanks a lot.

[2020-08-10 21:50] JRBANCEL opened #212 "Remove cluster-local-gateway Deployment"
The details are in this [doc](https://docs.google.com/document/d/1kqGPwEeo2uNfZlVlS3wZNeCiGakRxTXuclz9rehw9j8/).

This is to track the rollout. The current plan to have 0 downtime is:

## Phase 1
1) Add a `server` entry to `cluster-local-gateway` on port 8081 (no-op just makes the Envoy listen on this port)

🕐  Wait for Istio propagation

## Phase 2
2) Modify the `cluster-local` `Service` `targetP

[2020-08-12 02:12] tcnghia commented on #27
I tried this but doesn't work. Also @igorbelianski and @rafaeltello are working on another solution for the same goal.

/close

[2020-08-12 02:12] #27 closed

[2020-08-12 05:15] tcnghia commented on #164
This should be already fixed by #114

[2020-08-12 05:15] #164 closed

[2020-08-12 05:16] tcnghia commented on #212
My inclination is to avoid staging over multiple releases: we can get result faster and even allow N+2 upgrades without issue.

[2020-08-12 05:34] JRBANCEL commented on #212
Ok, let me see how much of a downtime it would be we do all the changes at the same time.
It should be minimal and less error prone. Also, it is for internal traffic only so less visible for external calls.

[2020-08-13 06:45] nak3 opened #218 "Istio uninstallation cleans up Gateway created by net-istio.yaml"
This might be an issue in operation not net-istio, but I report the issue here as a Knative user was confused.

### Issue description

- If we uninstalled Istio, Gateway (cluster-local-gateway, knative-ingress-gateway) in knative-serving namespace also gone as `istioctl` deletes CRD.

### Step to reproduce the issue

#### 1. Install istio by following [doc](https://knative.dev/docs/install/install

[2020-08-13 12:22] tshak commented on #218
Yes. Another scenario where this becomes a problem is when managing knative with gitops:

- The gitops controller applies `net-istio.yaml`, which in turn creates the knative `Gateway` resources
- The `net-istio` controller mutates the `Gateway` resources (e.g. adding TLS information for a `ksvc`).
- At some point in the near future, the gitops controller re-applies `net-istio.yaml`. This may clobb

[2020-08-13 12:54] nak3 commented on #218
Thank you so much @tshak That is great input.

[2020-08-14 03:51] mattmoor opened #224 "istio latest doesn't run post-build"
I see the presubmit leg: pull-knative-sandbox-net-istio-latest

However, I do not see similar post-submit legs like we have in serving.  We should probably have these for anything we care about having presubmit.

cc @tcnghia @JRBANCEL

[2020-08-18 21:51] JRBANCEL opened #231 "Test Istio release %!q(*string=0xc0002327a0)"
Istio recently (2020-08-18 18:58:35 +0000 UTC) released ["Istio 1.7.0-rc.2"](https://api.github.com/repos/istio/istio/releases/29832028). Let's test it :rocket:.

[2020-08-18 21:51] JRBANCEL opened #232 "Test Istio release %!q(*string=0xc000256c20)"
Istio recently (2020-08-13 01:07:17 +0000 UTC) released ["Istio 1.7.0-rc.1"](https://api.github.com/repos/istio/istio/releases/29631339). Let's test it :rocket:.

[2020-08-18 21:52] JRBANCEL commented on #231
/close
I am testing something, sorry :cry:

[2020-08-18 21:52] #231 closed

[2020-08-18 21:52] JRBANCEL commented on #232
/close
I am testing something, sorry :cry:

[2020-08-18 21:52] #232 closed

[2020-08-19 17:11] manuelstein commented on #168
I was trying to recreate the error and I think what happened is that the Service had been created with LoadBalancer first and additional runs to deploy the manifest had failed to update the Service which is immutable when it comes to changing its type and type-specific parameters.

[2020-08-19 17:11] #168 closed

[2020-08-19 21:05] JRBANCEL commented on #212
I am writing a migration job. It is simpler and safer.

[2020-08-19 21:15] #150 closed

[2020-08-22 19:00] JRBANCEL opened #244 "Test Istio release "Istio 1.7.0""
Istio recently (2020-08-22 01:00:15 +0000 UTC) released ["Istio 1.7.0"](https://github.com/istio/istio/releases/tag/1.7.0). Let's test it :rocket:.

[2020-08-24 02:54] haibingzhao opened #245 "Bug[StatusManager]: Waiting for load balancer to be ready"
When I restart my local kubernetes cluster, and type `kubectl get king`, it always reminder error：`Waiting for load balancer to be ready`

## How to reproduce?
* Install local  kubernetes cluster using [k3d](https://k3d.io/), k3s version is: v1.17.9+k3s1
* Install knative with net-istio
* After install everything is ok
* Now restart local kubernetes cluster: `k3d stop cluster xxx` and `k3d start c

[2020-08-24 17:33] JRBANCEL commented on #244
The bot is working 🚀

[2020-08-27 02:57] nak3 opened #249 "Istio stable-mesh test is broken"
Please refer to https://testgrid.knative.dev/serving#istio-stable-mesh.

Almost all tests became Red :skull: after https://github.com/knative/serving/commit/09986741f0bc6e369ed99370728ad715054656d5.

[2020-08-27 03:03] tcnghia commented on #249
cc @mattmoor

[2020-08-27 03:12] nak3 commented on #249
I am suspecting this Istio's issue https://github.com/istio/istio/issues/23463. The DestinationRule and some behavior were different whether we have the port or not.

[2020-08-27 04:05] tcnghia commented on #249
@nak3 I think this is fixed in 1.6?

[2020-08-31 04:21] ZhiminXiang opened #253 "Support Istio/Envoy grpc_json_transcoder"
## Describe the feature
Support Istio envoyfilter grpc_json_transcoder to allow grpc or json rest requests on the same port. Currently this does not seem work based on some of the networking setup by knative

## Related:
https://github.com/knative/serving/issues/7140 https://github.com/knative/serving/issues/7533

[2020-08-31 04:46] nak3 opened #254 "Fix 503s error on Istio 1.5 or later installed by istioctl"
This is a tracking issue for the 503 issue in Istio 1.5 (installed by `istioctl`).
Currently Istio upgrade got stuck due to 503 error. https://github.com/istio/istio/issues/23029 is discussing with Istio team and has some detail.

obsolete tickets: https://github.com/knative/serving/issues/8210 https://github.com/knative/serving/issues/8193

[2020-08-31 04:55] nak3 opened #255 "Networking Istio pod memory usage increases in step size of around 100Mib"
This is a ticket copied from https://github.com/knative/serving/issues/8243

## What version of Knative?
v0.14.0

## Actual Behavior
We deployed knative-serving v0.14.0 over Kubernetes Cluster with Istio as Service Mesh.
Observed memory usage for networking-istio pod shows sudden increase & does not get back to original state.

## Steps to Reproduce the Problem
1. Deploy knative-serving with v0.14

[2020-09-02 02:10] ZhiminXiang commented on #245
/cc @JRBANCEL

[2020-09-04 04:19] ZhiminXiang opened #259 "ingress pods cannot be started with third_party/istio-1.5.7-helm/istio-minimal.yaml"
I have tried to apply the third_party/istio-1.5.7-helm/istio-minimal.yaml. But both istio-ingressgateway pods and cluster-local-gateway pods cannot be started because istio-proxy container is not ready.

[code]

I can reproduce this issue consistently.

I checked the log, and got a lot of the following logs:
[code]

And later I got the following logs:
[code]

This issue caused https://github.com/k

[2020-09-04 05:54] ZhiminXiang commented on #259
I also noticed the error message from the istio-proxy container:
[code]
I suspect this issue is caused by missing secrets:
1. istio.istio-ingressgateway-service-account for istio ingress
2. istio.cluster-local-gateway-service-account for cluster local gateway

[2020-09-04 05:58] nak3 commented on #259
@ZhiminXiang
it is same issue with https://github.com/knative/serving/issues/6254.
Since istio-minimal does not set `global.mtls.auto=false` explicitly, cluster-local-gateway tries to find a cert. istio-lean also does not have it, but it deploys citadel so no issue.
I will send the PR.

[2020-09-04 15:10] mattmoor opened #262 "net-istio should guard the prober against resync flooding"
Right now the prober is unconditionally called during reconciliation to determine readiness: https://github.com/knative-sandbox/net-istio/blob/81a9b95df6ba5516bb3240b53caaa1686fc2dd75/pkg/reconciler/ingress/ingress.go#L203

This is ok under normal circumstances because internally the prober caches the probe result and so on global resyncs we hit the cache and things finish quickly.  However, when

[2020-09-04 16:51] JRBANCEL commented on #262
`have the main Reconcile loop rely on the recorded readiness of the kingress to elide IsReady checks`.
Basically, calling IsReady only if KIngress.Status is not Ready?
That should work, since for KIngress to be Ready (and ObservedGeneration == Generation) probing must have succeeded at some point int the past.

/assign

[2020-09-04 17:00] mattmoor commented on #262
Yeah exactly.  see: https://github.com/knative-sandbox/net-contour/pull/231

[2020-09-05 22:55] #259 closed

[2020-09-08 20:44] JRBANCEL commented on #245
/assign

[2020-09-09 01:30] halvards commented on #95
The guide has been updated, so we can close this issue.

[2020-09-09 01:32] JRBANCEL commented on #245
I see two somewhat different issues here.

This is by design. The idea is that we assume that a new Gateway Pod (Envoy) will always get the latest configuration from Istio, therefore there is no need to probe new Envoy Pods.

statusManager handles the case where a Pod disappears after probing has started and cancels probing for that Pod.
Now, if I understand correctly what you are saying, the endp

[2020-09-09 01:33] nak3 commented on #95
Thank you @halvards
Closing.

[2020-09-09 01:33] #95 closed

[2020-09-09 03:52] vagababov commented on #36
At some point I got rid of it, but then it got re-introduced for initial scale. I don't think we can get rid of it right now.
net-istio no longer seems to depend on it
/close

[2020-09-09 03:52] #36 closed

[2020-09-09 04:12] vagababov commented on #36
well, it's not in net istio at all :)

[2020-09-10 19:00] JRBANCEL opened #276 "Test Istio release "Istio 1.6.9""
Istio recently (2020-09-09 20:57:35 +0000 UTC) released ["Istio 1.6.9"](https://github.com/istio/istio/releases/tag/1.6.9). Let's test it :rocket:.

[2020-09-10 23:09] JRBANCEL commented on #276
It was decided at the WG to skip 1.6.x since it is flaky and 1.7.x is much more stable.

[2020-09-10 23:14] JRBANCEL commented on #276
/close

[2020-09-10 23:14] #276 closed

[2020-09-11 19:31] JRBANCEL opened #279 "Test Istio release "Istio 1.7.1""
Istio recently (2020-09-10 21:26:38 +0000 UTC) released ["Istio 1.7.1"](https://github.com/istio/istio/releases/tag/1.7.1). Let's test it :rocket:.

[2020-09-11 19:32] JRBANCEL commented on #244
/close
in favor of https://github.com/knative-sandbox/net-istio/issues/279

[2020-09-11 19:32] #244 closed

[2020-09-15 20:40] JRBANCEL commented on #124
We are doing this with Istio 1.7.1.
/assign @arturenault

[2020-09-15 20:41] JRBANCEL commented on #262
/assign @arturenault

[2020-09-15 20:43] arturenault commented on #262
/assign

[2020-09-15 21:00] JRBANCEL commented on #279
/assign

[2020-09-16 02:36] tcnghia opened #285 "install-istio.sh should support NodePort `istio-ingressgateway`"
In here https://github.com/knative/serving/pull/9301 we propose to use `install-istio.sh` for development purpose.

Supporting NodePort will help those of us who are using `Minikube` or `KinD`. This will also make it easier to run integration tests using `net-istio` on GitHub Actions.

cc @mattmoor @JRBANCEL

[2020-09-16 06:25] JRBANCEL commented on #285
What does support `NodePort` mean?
I use `minkube` a lot and I do this:
[code]

[2020-09-16 14:07] mattmoor commented on #285
When you change `type: LoadBalancer` to `type: NodePort`, you hit the node's IP and each port tuple contains a `nodePort` you can address on that node IP.  Essentially for:
[code]

Basically when you `curl http://foo.example.com` the dialer gets `foo.example.com:80` and we decompose this and *actually* dial `192.168.39.172:9876`.  For `curl https://foo.example.com` the dialer gets `foo.example.com

[2020-09-16 22:13] #279 closed

[2020-09-17 01:56] JRBANCEL commented on #285
What I was trying to demonstrate is that minikube can expose any type of k8s Service using the same mechanism of port mapping. This seemed cleaner than having to change the Service type.

But it is minikube specific and I am now aware of Matt's recent change in spoofing that requires `Spec.Ports.NodePort` to be specified. The cleanest way to address this for `install-istio.sh` is to have a custom

[2020-09-18 00:26] #285 closed

[2020-09-18 20:17] fahadsuhaib opened #296 "istio virtualservice-ingress with retries as 0"
Hi,

We are seeing unwanted retries due to 500 status code by the service, and this is annoying as it is running in a serverless environment and the error had to be immediately propagated back.

Need to add the below code to https://github.com/knative-sandbox/net-istio/blob/524afbe8aa70b5589360d0e96b92ef2cd8c6a317/pkg/reconciler/ingress/resources/virtual_service.go#L221,
[code]

This is a very bad

[2020-09-19 19:00] JRBANCEL opened #297 "Test Istio release "Istio 1.7.2""
Istio recently (2020-09-18 20:06:39 +0000 UTC) released ["Istio 1.7.2"](https://github.com/istio/istio/releases/tag/1.7.2). Let's test it :rocket:.

[2020-09-21 16:25] dprotaso opened #300 "Use admissionregistration.k8s.io/v1"
The istio webhooks are still using v1beta1 - they should switch to v1 at some point

related: https://github.com/knative/serving/issues/9494

[2020-09-21 16:35] dprotaso commented on #300
cc @JRBANCEL @ZhiminXiang @tcnghia

[2020-09-21 19:32] arturenault commented on #124
/assign

[2020-09-21 21:43] JRBANCEL commented on #300
/assign

[2020-09-21 21:56] JRBANCEL commented on #296
We do not set the `HTTPRetry` field since https://github.com/knative-sandbox/net-istio/pull/263.
The behavior you are describing will be in the next release.

[2020-09-21 22:31] #300 closed

[2020-09-23 07:11] fahadsuhaib commented on #296
Perfect @JRBANCEL, When is the next release scheduled for?

[2020-09-23 07:29] nak3 commented on #296
The next release (v0.18) is scheduled next week. You can find the schedule here https://github.com/knative/pkg/blob/master/RELEASE-LEADS.md#schedule

[2020-09-23 19:00] JRBANCEL opened #308 "Test Istio release "Istio 1.6.10""
Istio recently (2020-09-22 21:32:01 +0000 UTC) released ["Istio 1.6.10"](https://github.com/istio/istio/releases/tag/1.6.10). Let's test it :rocket:.

[2020-09-25 15:59] tcnghia opened #311 "Document perf regression of 1.5"
There is a noticeable regression in 1.5 that was fixed in 1.7 (and possibly 1.6).

This should be documented (with links to bugs) on knative.dev so users are aware.

[2020-09-25 16:00] tcnghia commented on #311
cc @ZhiminXiang @JRBANCEL hopefully this should be done before doc release

[2020-09-25 16:01] tcnghia commented on #254
@nak3 this can be closed, right?

[2020-09-25 16:02] tcnghia commented on #249
cc @ZhiminXiang @JRBANCEL @Cynocracy

[2020-09-25 18:21] JRBANCEL commented on #308
Istio 1.6.x is skipped
/close

[2020-09-25 18:21] #308 closed

[2020-09-25 18:22] JRBANCEL commented on #311
What details are you expecting?
We should just recommend using 1.7.x, no?

[2020-09-25 18:23] JRBANCEL commented on #296
/close

[2020-09-25 18:23] #296 closed

[2020-09-25 20:09] ZhiminXiang opened #312 "Move stable to Istio 1.7"
As we see the performance regression of Istio 1.5, we should move the stable to Istio 1.7.

[2020-09-26 02:33] nak3 commented on #254
Yes, I think we can close this.

[2020-09-26 02:33] #254 closed

[2020-09-30 19:00] JRBANCEL opened #322 "Test Istio release "Istio 1.7.3""
Istio recently (2020-09-29 19:39:28 +0000 UTC) released ["Istio 1.7.3"](https://github.com/istio/istio/releases/tag/1.7.3). Let's test it :rocket:.

[2020-09-30 19:00] JRBANCEL opened #323 "Test Istio release "Istio 1.6.11""
Istio recently (2020-09-29 19:33:58 +0000 UTC) released ["Istio 1.6.11"](https://github.com/istio/istio/releases/tag/1.6.11). Let's test it :rocket:.

[2020-09-30 21:02] JRBANCEL commented on #323
/close

[2020-09-30 21:02] #323 closed

[2020-10-01 18:27] #312 closed

[2020-10-02 05:01] JRBANCEL commented on #322
This is done (1.7.3 is `latest`).
/close

[2020-10-02 05:01] #322 closed

[2020-10-02 05:02] JRBANCEL commented on #297
We are testing `1.7.1` and `1.7.3`, no point testing this.
/close

[2020-10-02 05:02] #297 closed

[2020-10-02 05:06] JRBANCEL commented on #249
It is still broken.
The `webhook` Container of `webhook` Pod never gets ready ([example](https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-istio-stable-mesh/1311832861287911424/build-log.txt)), because the probes defined [here](https://github.com/knative/serving/blob/master/config/core/deployments/webhook.yaml#L93):
[code]

It might be an Istio issue, see this [similar issue](htt

[2020-10-02 05:31] JRBANCEL commented on #249
What seems to be happening is that Kubelet does indeed call the modified probes (on Istio Proxy) and then the proxy calls the Webhook probes, but this fails with the not useful `remote error: tls: internal error`.
I suspect that it fails because this is endpoint uses a self-signed certificate.

[2020-10-02 05:50] JRBANCEL commented on #249
Istio skips TLS validation: https://github.com/istio/istio/blob/master/pilot/cmd/pilot-agent/status/server.go#L421
So it is failing for another reason. In the `webhook` logs I see `2020/10/02 01:20:23 http: TLS handshake error from 127.0.0.1:55830: server key missing`.
Someone complained about this recently: https://github.com/knative/eventing/issues/4165

[2020-10-03 00:57] tcnghia commented on #311
Yes, at the minimum we should advise 1.7. But mentioning that 1.5, 1.6 work but not well & links to issue would be awesome too.

[2020-10-08 01:24] nak3 commented on #173
/remove-lifecycle stale

[2020-10-08 18:26] ZhiminXiang opened #339 "TestAllowedProbes fails in istio-mesh mode"
See https://testgrid.knative.dev/serving#istio-stable-mesh&include-filter-by-regex=TestAllowedProbes

I think the PR https://github.com/knative/serving/pull/9679 is for the fix

/assign @JRBANCEL

[2020-10-08 18:27] ZhiminXiang opened #340 "TestScaleToN fails in the Istio-mesh mode"
See https://testgrid.knative.dev/serving#istio-stable-mesh&include-filter-by-regex=TestScaleToN

[2020-10-08 19:02] #262 closed

[2020-10-09 01:33] #135 closed

[2020-10-09 01:33] #68 closed

[2020-10-09 01:33] #50 closed

[2020-10-09 01:33] #37 closed

[2020-10-09 06:25] tcnghia opened #343 "Test `net-istio` with a cluster with non-default cluster suffix"
In https://github.com/knative/networking/issues/209 we allow the cluster suffix to be specified.

Once `net-istio` tests are on `KinD` we can use a similar workflow to that of https://github.com/knative-sandbox/net-contour/actions/runs/296836515/workflow to test net-istio with a non-default cluster suffix.

[2020-10-09 06:26] tcnghia opened #344 "Run net-istio tests on KinD"
That allows us to test more K8s version and customizations like cluster sufffix (see https://github.com/knative-sandbox/net-istio/issues/343 )

[2020-10-10 19:00] JRBANCEL opened #348 "Test Istio release "Istio 1.6.12""
Istio recently (2020-10-09 21:03:23 +0000 UTC) released ["Istio 1.6.12"](https://github.com/istio/istio/releases/tag/1.6.12). Let's test it :rocket:.

[2020-10-12 17:05] taragu opened #351 "Getting "resource name may not be empty" when installing with `third_party/istio-stable/istio-minimal.yaml`"
I'm getting an error "resource name may not be empty" when installing with `third_party/istio-stable/istio-minimal.yaml`.
[code]
Also the serving development instructions (https://github.com/knative/serving/blob/master/DEVELOPMENT.md#deploy-istio) need to be updated, since we no longer have `third_party/istio-stable/istio-crds.yaml`.

[2020-10-13 20:54] JRBANCEL commented on #348
/close

[2020-10-13 20:54] #348 closed

[2020-10-15 18:47] arturenault commented on #124
Istio doesn't have an ObservedGeneration so we have no way of knowing if the Status is current (i.e. if it has applied our latest changes).

This is being tracked in istio/istio#28003. They're attempting to rush it into 1.8 which closes next week, but if not this might need to wait until Istio 1.9.

[2020-10-16 01:43] nak3 commented on #351
@taragu Thank you for the report.
As @ZhiminXiang updated in https://github.com/knative-sandbox/net-istio/pull/357, current istio manifest needs `istioctl` command. So ccould you please use `third_party/istio-latest/install-istio.sh` (wrapper script) to install it?

For serving development instructions, it is also still working in progress here https://github.com/knative/serving/pull/9301. Sorry i

[2020-10-16 11:36] taragu commented on #351
@nak3 thanks for the update!

[2020-10-19 23:02] treyhyde opened #367 "Conflicting resources in Istio on application of one ksvc"
As per https://groups.google.com/g/knative-users/c/sLsDz2ySCPk/m/6n5PJySQAwAJ

In test envs, ksvcs seems like they are doing what I ask of them,   One major drawback is that it triggers an invalid config for all other unrelated istio proxies and their sync status (istioctl proxy-status) goes “stale.”  Remove the ksvc and the istio proxies can sync again.    istiod complains about

  event-display

[2020-10-19 23:12] treyhyde commented on #367
On second examination, the same service in the `default` namespace has the same issue.

[2020-10-20 03:01] nak3 commented on #367
@treyhyde Thank you for the outputs.

Actually the Virtualservices are most important info. As per your reported log message below:

There are multiple VirtualServices that defines "event-display.devs.svc" in the VirtualService's `spec.hosts`. We are sure that the one of them is your Knative Service "event-display" but not sure about another. Could you please find another one on your cluster?

[2020-10-20 03:09] treyhyde commented on #367
Ok, I'll duplicate in the default is tomorrow and provide the output.   In this case, I can tell you there are no Virtual Services for event-display or the hello world example.

I appreciate the help!

[2020-10-20 15:59] treyhyde commented on #367
In default with `rusty-world` from above.

[code]

[2020-10-21 02:44] nak3 commented on #367
Thank you @treyhyde. I could produce the same isssue on my local with Istio 1.6.12. But it does not happen with Istio 1.7.1. So, is it possible to update your Istio version to 1.7.1? (Actually our CI is testing Istio 1.7.1 as a stable version now.)

For the detail of this issue, two virtualservices `rusty-world` and `rusty-world` have the domain `rusty-world.default{.svc.cluster.local}`. It is a p

[2020-10-21 02:48] treyhyde commented on #367
Ok, thanks for the pointers.  I did try a 1.7 update when testing this before reaching out but then nothing at all worked.  Ha!   That seems like a more important problem for me to solve though.    I'll try giving the 1.7 update another try following the update guide a bit more closely.

[2020-10-28 19:00] JRBANCEL opened #387 "Test Istio release "Istio 1.7.4""
Istio recently (2020-10-28 16:42:25 +0000 UTC) released ["Istio 1.7.4"](https://github.com/istio/istio/releases/tag/1.7.4). Let's test it :rocket:.

[2020-10-29 01:15] nak3 commented on #351
net-istio's DEVELOPMENT.md now suggests that we use  [`third_party/istio-latest/install-istio.sh`](https://github.com/knative-sandbox/net-istio/blob/master/DEVELOPMENT.md#install-istio ).
serving repo's DEVELOPMENT.md was updated by https://github.com/knative/serving/pull/9301.

I think we can close this issue. @taragu please feel free to re-open if you have found any other issue.

[2020-10-29 01:15] #351 closed

[2020-10-29 01:16] nak3 commented on #367
Hi @treyhyde I just wanted to follow up this issue. Istio 1.7 still does not work? Please let us know if we can assist you.

[2020-10-29 01:42] nak3 opened #389 "Support gRPC web"
This is originally created in https://github.com/knative/serving/issues/6478 and moves to net-istio.

gRPC web needs to add:
- an EnvoyFilter resource.
- a corsPolicy in the VirtualService.

Especially corsPolicy most probably needs to be added VirtualService created by net-istio. But there are no way to do that. We need to support it.

[2020-10-29 01:50] treyhyde commented on #367
Thanks for reaching out.    Ton (it seems anyway) of undocumented breaking changes in 1.7 but it looks like it works now ( in the test env anyway)

[2020-10-29 19:00] JRBANCEL opened #392 "Test Istio release "Istio 1.6.13""
Istio recently (2020-10-28 20:33:41 +0000 UTC) released ["Istio 1.6.13"](https://github.com/istio/istio/releases/tag/1.6.13). Let's test it :rocket:.

[2020-10-29 20:27] JRBANCEL commented on #392
/close

[2020-10-29 20:28] #392 closed

[2020-10-30 00:51] nak3 commented on #367
Thank you. Then I am closing this for now. But please feel free to re-open this.

Actually Istio community's 1.6 support will end very soon https://istio.io/latest/news/support/announcing-1.6-eol/ so I am sure 1.7 should be used :cold_sweat:

[2020-10-30 00:51] #367 closed

[2020-11-02 07:20] #343 closed

[2020-11-02 19:49] houshengbo opened #397 "The resource PeerAuthentication is missing the Knative and Network labels"
These labels should be added:
[code]

Both of the resources as below, are missing the labels:
[code]

[2020-11-02 19:50] houshengbo commented on #397
/assign @JRBANCEL

[2020-11-02 20:46] tcnghia commented on #397
cc @ZhiminXiang @nak3

[2020-11-03 00:52] #397 closed

[2020-11-05 18:53] arturenault commented on #124
/unassign JRBANCEL

this is confusing the google github sync

[2020-11-09 02:24] nak3 commented on #249
Closing. There are still some failures but they are tracked by https://github.com/knative-sandbox/net-istio/issues/340.

[2020-11-09 02:24] #249 closed

[2020-11-09 02:37] zhaojizhuang commented on #389
I think we should maintain corspolicy‘s annotation in net-istio?  like [ingress-nginx]( https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#enable-cors)
knative/serving/issues/10040

[2020-11-10 03:02] nak3 commented on #344
This was solved by https://github.com/knative-sandbox/net-istio/pull/394 :tada:

[2020-11-10 03:02] #344 closed

[2020-11-11 07:49] #387 closed

[2020-11-12 01:28] nak3 commented on #218
/remove-lifecycle stale

[2020-11-13 19:42] arturenault opened #414 "Move test/config/security/*.yaml from serving to this repo and make them part of the release"
Those objects are istio-specific and shouldn't be there. They need to be moved here and made part of the release

/assign

[2020-11-16 23:48] arturenault commented on #414
Currently we can't remove those files from serving because that mysteriously makes things fail although the files aren't referenced anywhere.
So far it looks like the service ends up without a load balancer because the ingress has no domain/IP. Seeing logs like below (not together):
[code]

[2020-11-17 01:26] arturenault commented on #414
I've been able to repro this locally, what's strange is that the ingress status **has** a domain:
[code]

So the first line there is puzzling. Will keep looking into it

[2020-11-17 21:35] JRBANCEL commented on #339
This test was removed in #10049.
/close

[2020-11-17 21:35] #339 closed

[2020-11-17 21:42] arturenault commented on #414
Turns out the failures were a red herring. The files are no longer needed and will be removed.

We are adding a new one in `test/config/security/peerauthentication.yaml` to test mtls STRICT mode.

[2020-11-17 21:42] #414 closed

[2020-11-18 02:12] JRBANCEL commented on #212
Phase 3 is done: #411
/close

[2020-11-18 02:12] #212 closed

[2020-11-19 08:51] julz opened #419 "DEVELOPMENT.md instructions assume linux, do not work on mac"
The DEVELOPMENT.md instructions [tell people to run](https://github.com/knative-sandbox/net-istio/blob/master/DEVELOPMENT.md#install-istio) `third_party/istio-stable/install-istio.sh`, however this script [hardcodes "linux" in the istioctl tarball architecture string](https://github.com/knative-sandbox/net-istio/blob/master/third_party/istio-latest/install-istio.sh#L19), which means on a mac follo

[2020-11-19 20:00] JRBANCEL opened #421 "Test Istio release "Istio 1.7.5""
Istio recently (2020-11-19 18:11:18 +0000 UTC) released ["Istio 1.7.5"](https://github.com/istio/istio/releases/tag/1.7.5). Let's test it :rocket:.

[2020-11-19 20:00] JRBANCEL opened #422 "Test Istio release "Istio 1.8.0""
Istio recently (2020-11-19 17:46:41 +0000 UTC) released ["Istio 1.8.0"](https://github.com/istio/istio/releases/tag/1.8.0). Let's test it :rocket:.

[2020-11-20 17:24] arturenault commented on #422
/assign

[2020-11-21 02:02] #419 closed

[2020-11-28 01:30] #197 closed

[2020-12-02 21:23] n3wscott opened #435 "Use GOPATH hacks to codegen anywhere."
Please see https://github.com/knative/eventing/pull/4621 or https://github.com/knative/serving/pull/10245 for an example.

[2020-12-03 07:26] #421 closed

[2020-12-03 09:30] arghya88 commented on #435
/assign

[2020-12-03 19:44] VIjayHP opened #439 "E2E tests are failing for net-istio"
Command :
Error: TestIstioProbing/HTTP: spoof.go:171: Retrying http://istio-probing-http-txschmyn.example.com/: retrying for DNS error: Get "http://istio-probing-http-txschmyn.example.com/": dial tcp: lookup <istio-ingressgateway-ip:port>: no such host
**Following pods are running under knative-serving namespace:**
activator-845748699b-v7xmz 1/1 Running 1 6d2h
autoscaler-696d8868f4-vrnrp 1/1 Runni

[2020-12-04 05:43] VIjayHP opened #440 "unable to recognize "https://github.com/knative/net-istio/releases/download/v0.19.0/release.yaml": no matches for kind "PeerAuthentication" in version "security.istio.io/v1beta1""
After running the below command :
kubectl apply --filename https://github.com/knative/net-istio/releases/download/v0.19.0/release.yaml

**Error:**
unable to recognize "https://github.com/knative/net-istio/releases/download/v0.19.0/release.yaml": no matches for kind "PeerAuthentication" in version "security.istio.io/v1beta1"
unable to recognize "https://github.com/knative/net-istio/releases/downloa

[2020-12-06 10:35] VIjayHP commented on #439
Could someone help me with the above failures or any additional setup/procedure I need to follow for running e2e tests for net-istio?

[2020-12-06 11:10] nak3 commented on #439
What did you specify for `-- --ingressendpoint ` ? As per your message `dial tcp: lookup istio-ingressgateway-ip:port: no such host` you didn't specify the IP and port correctly.

[2020-12-06 11:13] nak3 commented on #440
Did you install Istio before running the `kubectl apply` command? If yes, what istio version did you use?
The error should not happen if you install Istio v1.7.x beforehand.

[2020-12-06 14:12] VIjayHP commented on #439
Hi, I am adding "--ingressendpoint" flag due to  istio-ingressgateway is exposed as node port service and it's accessible with clusterip:nodeport . Should i need to run the e2e test's without this flag ?   @nak3

[2020-12-06 14:23] VIjayHP commented on #440
Hi @nak3 yes all the below pods are running under "istio-system" namespace
grafana-8d9455fd-zqbpd                    1/1     Running     0          4d2h
istio-citadel-5bf656946d-s2jqg            1/1     Running     0          4d2h
istio-cleanup-secrets-1.1.7-qgtqp         0/1     Completed   0          4d2h
istio-egressgateway-687fbb67c7-9wsd2      1/1     Running     0          4d2h
istio-galley-

[2020-12-06 14:28] VIjayHP commented on #440
@nak3 1.7.1 version of istio doesn't comes with helm way of installation here: install/kubernetes/helm/istio (got 404 page for this https://github.com/istio/istio/tree/1.7.1/install/kubernetes/helm/istio) .Kindly let me know helm way of installation if i need to use other version's as i am doing it on ppc64le architecture .

[2020-12-06 23:45] nak3 commented on #439
`dial tcp: lookup istio-ingressgateway-ip:port: no such host` is clearly saying that the DNS resolution failed. Could you solve this DNS error first? It seems your env issue. it is strange for me why DNS error happens even though the IP address was specified in the option.

[2020-12-07 05:39] VIjayHP commented on #439
@nak3
Is it possible to run the E2E tests without that flag ?
$Command : go test -v -timeout=0m -tags=e2e -count=1 ./test/e2e --dockerrepo <private-insecure-registry>

Will it work in this way?

[2020-12-07 05:57] nak3 commented on #439
If you are using service with ClusterIP, it is possible. But you are using NodePort, aren't you? Then you need to use the flag.

[2020-12-07 06:11] VIjayHP commented on #439
@nak3 Yes i don't have any external-ip service , i am using cluster-ip:nodeport here

[2020-12-08 01:00] arturenault commented on #422
Istio 1.8.0 has a bug that causes downtime during VS upgrade, so we can't use it. We should test 1.8.1 when available: https://github.com/istio/istio/issues/29310

[2020-12-08 21:40] arturenault commented on #422
/close

[2020-12-08 21:40] #422 closed

[2020-12-08 21:43] JRBANCEL commented on #440
`PeerAuthentication` v1beta1 was introduced in Istio 1.5.
You'll need to use at least that version or more recent or simply ignore this (it is only useful for mTLS).

[2020-12-09 20:00] JRBANCEL opened #451 "Test Istio release "Istio 1.8.1""
Istio recently (2020-12-08 20:04:40 +0000 UTC) released ["Istio 1.8.1"](https://github.com/istio/istio/releases/tag/1.8.1). Let's test it :rocket:.

[2020-12-10 20:00] JRBANCEL opened #455 "Test Istio release "Istio 1.7.6""
Istio recently (2020-12-10 17:50:50 +0000 UTC) released ["Istio 1.7.6"](https://github.com/istio/istio/releases/tag/1.7.6). Let's test it :rocket:.

[2020-12-13 05:18] #435 closed

[2020-12-15 10:26] VIjayHP commented on #440
@JRBANCEL But the status of Knative Serving Custom Resource is false due to the above issue :
After installing the Knative Operator custom resource i see below issue for the command:
$ kubectl get KnativeServing knative-serving -n knative-serving
**Error:**
Events:
  Type     Reason           Age                   From                       Message
  ----     ------           ----

[2020-12-15 19:13] arturenault commented on #451
/close this is done already. Failing mesh tests due to istio/istio#29566

[2020-12-16 19:05] arturenault commented on #451
/close

[2020-12-16 19:06] #451 closed

[2020-12-18 00:08] arturenault opened #461 "Run mesh conformance tests as part of PR process"
Recently we let a pretty [egregious istio bug](https://github.com/istio/istio/issues/29566) slip into istio-latest which breaks all of knative when sidecars are injected.

We should run a small subset of mesh tests as part of PRs to avoid this. Conformance tests should be enough.

/area test-and-release

[2020-12-18 02:35] tcnghia commented on #136
@arturenault  I think https://github.com/knative-sandbox/net-istio/issues/461 is a duplicate of this

[2020-12-18 02:35] tcnghia commented on #461
We have https://github.com/knative-sandbox/net-istio/issues/136 opened, can I assign it to you @arturenault ?

[2020-12-18 14:14] Marlinc opened #463 "DomainMapping with PROXY protocol EnvoyFilter"
Hey there,

I'm using a `EnvoyFilter` on the `istio-ingressgateway` so that I can get the original source address of the client. This worked fine when these connections came in via `istio-ingressgateway` and were then routed to a `cluster-local-gateway` since it didn't have that same `EnvoyFilter`.

The recent merge of these gateways broke using either a the new `DomainMapping` resource as well as

[2020-12-22 07:40] VIjayHP commented on #440
@JRBANCEL Do we have any dependency with this Peer Authentication issue for E2E testing ?

Above 2 resources are not created because of my **Istio version (1.1.7)** . However while performing E2E tests for net-istio it get's stucked here:

**Pre-Requisite :**
root@vijay1:~# kubectl get po -n knative-serving
NAME                                READY   STATUS        RESTARTS   AGE
chaosduck-6b658d57

[2020-12-22 21:40] JRBANCEL commented on #463
Did you use a [ListenerMatch](https://istio.io/latest/docs/reference/config/networking/envoy-filter/#EnvoyFilter-ListenerMatch)?

If this doesn't work, it is more an Istio issue than Knative I guess.

[2020-12-22 22:56] JRBANCEL commented on #440
Only if you use mTLS in STRICT mode.

[code]

404 is expected when the service is created. Does it not go away after some time (couple seconds)?

[2020-12-23 23:20] arturenault commented on #461
Sure, I think these are slightly different though. Looks like we need to add a mesh test environment in the first place, and then have it run as part of the PR process. Up to you if this needs two different items though

[2020-12-24 01:00] #124 closed

[2020-12-30 02:14] #253 closed

[2020-12-30 02:14] #255 closed

[2020-12-30 21:29] #455 closed

[2021-01-07 02:31] #245 closed

[2021-01-13 08:31] nak3 opened #477 "e2e test for mesh mode with istio-latest is broken"
Please refer to https://testgrid.knative.dev/serving#istio-latest-mesh. The mesh mode with istio-latest is broken now.

stable-mesh is not broken as https://testgrid.knative.dev/serving#istio-stable-mesh, so it would be related to VirtualService status or istio version?

/cc @JRBANCEL @arturenault @ZhiminXiang

[2021-01-13 15:23] arturenault commented on #477
It's the Istio version, I opened this Istio issue about it:

https://github.com/istio/istio/issues/29566

[2021-01-13 15:45] arturenault commented on #477
/assign

[2021-01-14 08:23] zyjiaobj opened #480 "Request to update ko dependency"
`--strict` param used in https://github.com/knative-sandbox/net-istio/blob/ed8a9945de418577e5867499a1b5e792d8bdf329/hack/release.sh#L52 is no longer supported in latest `ko`
[code]

[2021-01-15 08:19] VIjayHP commented on #440
But in case of running tests for Knative-Operator , because of the above issue "custom resource" fails to come TRUE state.
Error: with the error message: Install failed with message: no matches for kind "PeerAuthentication" in version "security.istio.io/v1beta1"

So how can we ignore this in knative-operator , As it is creating by default.

[2021-01-15 20:00] JRBANCEL opened #483 "Test Istio release "Istio 1.8.2""
Istio recently (2021-01-15 00:45:11 +0000 UTC) released ["Istio 1.8.2"](https://github.com/istio/istio/releases/tag/1.8.2). Let's test it :rocket:.

[2021-01-19 17:29] arturenault commented on #483
/assign

[2021-01-19 19:42] howardjohn commented on #477
Can you check with 1.8.2? This should be fixed

[2021-01-19 20:07] arturenault commented on #477
I have a PR out to use 1.8.2. Once that's merged we'll know if the fix is good: #486

[2021-01-19 23:52] #483 closed

[2021-01-21 01:15] arturenault commented on #477
1.8.2 seems to have solved the issue.

/close

[2021-01-21 01:15] #477 closed

[2021-01-25 22:08] arturenault commented on #461
Close as duplicate; turns out we already support mesh tests but aren't running them.

[2021-01-25 22:08] #461 closed

[2021-01-25 22:08] arturenault commented on #136
/assign

[2021-01-27 00:36] #136 closed

[2021-01-28 18:44] arturenault opened #496 "Run tests against Istio HEAD"
The Istio team is interested in us testing against their HEAD to ensure we catch issues that break us early. We can ensure maximum test coverage by running our tests against Istio HEAD. This should be straightforward by adding a new `istio-head` folder that installs istio from HEAD.

/cc @howardjohn @ZhiminXiang

/assign

[2021-01-28 19:15] costinm commented on #496
We also want to have a test that runs a Istiod revision as a KNative service - so Istiod revisions can be scaled to zero and installed as easily as any knative service. That's assuming KNative is using a fixed/dedicated istiod ( or something else ), and the Istiods are  used by tenants or namespaces that want dedicated control plane revisions.

I have a set of changes to enable this mode, and Isti

[2021-01-28 20:04] vagababov commented on #496
How much benefit using HEAD vs Nightly are we getting vs one more testgrid to run and operate?
Or we just want to have possibility of installing istio from head?

[2021-01-28 21:47] costinm commented on #496
From Istio perspective - the goal is to make sure Istio mater doesn't break something. Doesn't have to be Istio head or KNative head - nightly or weekly is fine, just faster than the ~3 month release cycle we have in Istio.

[2021-01-28 22:34] vagababov commented on #496
Sure, that's one of the reasons we run against nightly.

[2021-01-28 22:36] howardjohn commented on #496
What is the "nightly"? I thought there was istio-latest (ie 1.8.x) and istio-stable (1.7.x) - both are released versions. Running from HEAD would allow us to find breakages before we release something, rather than weeks after

[2021-01-28 22:45] vagababov commented on #496
cc @JRBANCEL , but I think this is this: https://github.com/knative-sandbox/net-istio/tree/master/third_party/istio-latest

[2021-01-28 22:46] vagababov commented on #496
My understanding is that we download and run CICD with the latest released istio whenever that is released on github.

[2021-01-28 22:50] howardjohn commented on #496
Right, the desire is that if we send a commit to Istio master today, it would be first released in Istio 1.10 in ~4 months. it would be ideal to know today that we broke Knative (or improved :slightly_smiling_face: ), rather than 4 months from now

[2021-01-28 23:05] vagababov commented on #496
OK, I guess it's nightly build of `net-istio` :) my misunderstanding.
Then, yeah — in total support 👍

[2021-01-30 10:51] nak3 commented on #440
One possible workaround is that you can create the  `PeerAuthentication` CRD. For example, I think you can create the CRD from here  https://github.com/istio/istio/blob/41c366ab7ac32085ec95b93528c5b53e4dca9c8b/manifests/charts/base/crds/crd-all.gen.yaml#L3242-L3334

But anyway Istio 1.1.x is too old. We haven't tested the old version with the latest Knative/net-istio.

[2021-01-30 20:00] JRBANCEL opened #500 "Test Istio release "Istio 1.7.7""
Istio recently (2021-01-29 22:54:28 +0000 UTC) released ["Istio 1.7.7"](https://github.com/istio/istio/releases/tag/1.7.7). Let's test it :rocket:.

[2021-02-01 02:06] #311 closed

[2021-02-02 12:34] nak3 opened #503 "mTLS with STRICT mode is not stable"
Since enabling mTLS strict mode by fixing a bug by https://github.com/knative/serving/pull/10635,
some tests became unstable.

Please refer to https://testgrid.knative.dev/serving#istio-stable-mesh. `TestScaleToN` test had been unstable for long time, but other tests became red after the change https://github.com/knative/serving/pull/10635.

[2021-02-02 18:33] #500 closed

[2021-02-06 01:43] #173 closed

[2021-02-07 01:43] #340 closed

[2021-02-09 19:29] #496 closed

[2021-02-10 13:02] nak3 opened #514 "Fail to create TLSGateway from DomainMapping's Kingress due to invalid name"
### Description

`serving-https test` is always failing on `TestDomainMapping`. Please refer to any [log](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-https/1359437522937057280) in `https` test in [test grid](https://testgrid.k8s.io/knative-serving#knative-serving-https).

This is because net-istio tries to create gateway name with "dot" like `domain-mapping-hfyjwokc.exam

[2021-02-25 20:00] JRBANCEL opened #527 "Test Istio release "Istio 1.7.8""
Istio recently (2021-02-25 18:47:09 +0000 UTC) released ["Istio 1.7.8"](https://github.com/istio/istio/releases/tag/1.7.8). Let's test it :rocket:.

[2021-02-26 18:08] JRBANCEL commented on #527
We are already on stale=1.8x and latest=1.9.x.
/close

[2021-02-26 18:08] #527 closed

[2021-03-01 17:50] arturenault opened #530 "Benchmark Istio Status feature"
The Istio status CRD feature has been implemented in a beta mode.

We should work on making it the default behavior in net-istio. To do this we need to benchmark the feature and help Istio folks iron out any performance issues we may find.

[2021-03-02 07:08] ZhiminXiang commented on #514
So the Gateway name has dot because the name of the Kingress has dot.
Maybe we should check if `accessor.GetName()` is valid. If it is invalid, we replace it with a valid format.

[2021-03-02 07:10] ZhiminXiang commented on #514
/assign

[2021-03-02 20:00] JRBANCEL opened #533 "Test Istio release "Istio 1.9.1""
Istio recently (2021-03-01 21:28:00 +0000 UTC) released ["Istio 1.9.1"](https://github.com/istio/istio/releases/tag/1.9.1). Let's test it :rocket:.

[2021-03-05 06:25] #533 closed

[2021-03-08 05:22] #439 closed

[2021-03-09 02:42] tcnghia commented on #514
Fixed by #532

[2021-03-09 02:42] #514 closed

[2021-03-10 02:31] #389 closed

[2021-03-10 20:00] JRBANCEL opened #542 "Test Istio release "Istio 1.8.4""
Istio recently (2021-03-10 19:48:17 +0000 UTC) released ["Istio 1.8.4"](https://github.com/istio/istio/releases/tag/1.8.4). Let's test it :rocket:.

[2021-03-10 20:33] Miles-Ahead-Digital opened #543 "The Installation of the Knative Istio controller aborts on a private cluster."
**Describe the bug**
The Installation of the Knative Istio controller aborts  on a private cluster.

Error from server (InternalError): error when creating "https://github.com/knative/net-istio/releases/download/v0.21.0/net-istio.yaml": Internal error occurred: failed calling webhook "config.webhook.serving.knative.dev": Post https://webhook.knative-serving.svc:443/config-validation?timeout=10s: d

[2021-03-10 22:21] Miles-Ahead-Digital commented on #543
I think it is platform specific and I need to create a firewall rule..
elastic/cloud-on-k8s#1437

I works if I open all ports...I will try to find out which ports must be opened in details..
![image](https://user-images.githubusercontent.com/58099738/110705868-4cc7cd80-81f7-11eb-8649-f75913a654d8.png)

[2021-03-11 21:39] JRBANCEL commented on #543
The Kubernetes API server must be able to reach the Knative Webhooks.
They are listening on [`8883`](https://github.com/knative/serving/blob/main/config/core/deployments/webhook.yaml#L78).

A better approach is too have them listen on a port already allowed by the default firewall rules: `443` (requires to run as root) or `10250`. This requires patching Knative release YAML.

[2021-03-11 23:38] nickjameswebb opened #549 "Networking conformance tests fail in mesh mode"
## Expected Behavior

Networking conformance tests pass for a Knative Serving + Istio + net-istio (mesh mode enabled) cluster.

## Actual Behavior

[This test](https://github.com/knative/networking/blob/main/test/conformance/ingress/visibility.go#L35) fails with an error like:
[code]

## Steps to Reproduce the Problem

1. On a new cluster, install Knative Serving, Istio (with sidecar injection ena

[2021-03-12 00:03] JRBANCEL commented on #549
/assign

[2021-03-12 05:11] JRBANCEL commented on #549
I am not sure why but the test is try to create a proxy k8s service, setting `ExternalName` to `ingress.Status.PrivateLoadBalancer.Ingress[0].DomainInternal`. In the case pure mesh, this field doesn't exists so the test tries to create a invalid service (empty  `ExternalName`):

[code]

In the case of pure mesh, we don't need the ExternalName Service pointing to the (non-existent) local gateway.

[2021-03-12 07:33] Miles-Ahead-Digital commented on #543
@JRBANCEL

Thanks for your help.
I opened port 8883 (and 8443 because of nginx ingress) instead of *

Now it works. BUT:
-The deployment process (hellpworld-go) is much slower than with all ports open (until the revision gets active).
-running the knavite-istio controller installation template https://github.com/knative/net-istio/releases/download/v0.21.0/net-istio.yaml. is  10 times slower than w

[2021-03-13 00:33] nickjameswebb commented on #549
That makes sense. I've tried removing the call to create the `ExternalName` service, and the result is a DNS lookup error for the generated private hostnames in the test like:
[code]
It seems like fixing this test will require some additional DNS configuration or creating an Istio `ServiceEntry` for the private hostname.

[2021-03-14 13:20] Miles-Ahead-Digital commented on #543
I opened the port: Source --master-ipv4-cidr (172.16.0.16/28) Target: ServiceAccount
If I add the port to the generated firewall rule k8s-fw-* with source 0.0.0.0/0 and target tag gke-private-cluster-1-e9fe715e-node   the problem seems to be solved (creation is 10 faster).

[2021-03-15 21:40] evankanderson opened #554 "Istio Authorization for Knative Service to Service Communication"
@muthurajr

https://github.com/knative/serving/issues/10940

I am having trouble in enabling Istio Authorization for Knative service to service communication.

#### Steps taken:
- Installed Istio and enabled mTLS with STRICT mode
- Installed Knative and enabled mTLS PERMISSIVE [https://knative.dev/docs/serving/istio-authorization/] as requests might be forwarded by activator based on TargetBurstCa

[2021-03-15 23:52] evankanderson opened #555 "Istio Authorization - RBAC: access denied and Error roundtripping http://*:80/healthz: context deadline exceeded"
From https://github.com/knative/serving/issues/10688

@muthurajr

I'm trying to add end user authentication for Istio (version=1.7.1) which doesn't work for services deployed through Knative(version=0.20.0). Getting error "RBAC: access denied" while trying to test the deployed service.

[ root@curl:/ ]$ curl --header "Authorization: Bearer $TOKEN" --header "Host: hello.iteration1.example.com" "$IN

[2021-03-15 23:52] evankanderson commented on #555
@JRBANCEL @arturenault

[2021-03-16 04:44] #543 closed

[2021-03-16 04:45] Miles-Ahead-Digital commented on #543
.

[2021-03-17 19:18] evankanderson opened #561 "Queue proxy pod taking more time to start up After injecting envoy"
Moved from https://github.com/knative/serving/issues/10959, filed by @podilavenky

We installed knative and istio on top of EKS cluster. Everything fine if we don't use envoy, once we injecting sidecar the queue proxy taking more time to startup, In our deployment we set timeout as 60 sec. But after injecting sidecar queue proxy pod taking 80 sec to start up. If we increase cpu limit to 1 core I a

[2021-03-17 19:19] evankanderson commented on #561
/kind question
/triage needs-user-input

A few questions:

[2021-03-18 06:33] ZhiminXiang opened #562 "DomainMapping does not work with local gateway "mesh" mode"
When I add the entry "local-gateway.mesh: mesh" into [config-istio ConfigMap](https://github.com/knative-sandbox/net-istio/blob/main/config/config.yaml#L69) to indicate using mesh mode, DomainMapping does not work.

The request sent to the custom domain will get the response: `no healthy upstream`.

I think this is because the destination of the VS of the DomainMapping is the k8s service of the ta

[2021-03-19 12:03] podilavenky commented on #561
Hi @evankanderson ,
Please find the below inline answers

How large is your mesh / how long does it take the Istio sidecar to become ready?
Istio sidecar and app container become ready below 30sec, only queue proxy is taking 70 sec to become ready.

Does your container need to connect to an external service before it listens on port 8080?
NO, its not connecting to any external services.

Do you ha

[2021-03-19 17:11] evankanderson commented on #561
I believe that the queue proxy is not becoming ready until the user container is ready.

[code]

This is waiting for the container to become ready. Does the container need to connect to backends before it becomes ready? If so, it may be waiting on Istio to become ready in order to start initializing those backends.

[2021-03-22 08:06] podilavenky commented on #561
@evankanderson  But  i am seeing container becoming ready in below 30 sec. There is no backend connection for the container, its just simple POC app. Is there any default cpu limits we need to add if we enable sidecar?.

[2021-03-22 09:32] julz commented on #562
@ZhiminXiang is this the case before/after/both-before-and-after https://github.com/knative-sandbox/net-istio/pull/512?

[2021-03-22 23:00] ZhiminXiang commented on #562
I can confirm that it happens after that change. I haven't tried to test it before the change. but I will test it.

[2021-03-22 23:04] ZhiminXiang opened #566 "DomainMapping exposes the cluster-local knative service to the public"
- Expected behavior:
After creating a domainmapping to map a custom domain to a cluster-local service, the domainmapping should only be effective within the cluster. The knative service should not be accessible from outside of the cluster.
Note: this is my personal understanding. We could also disallow creating DomainMapping to a cluster local service. At least I don't think we should expose clust

[2021-03-23 06:17] julz commented on #566
Hm. This is working as designed. If you create a domain mapping you are creating an external name for the service and exposing it. You may want to point a DM at a cluster local service for example if you only want to expose the fancy name and not the auto generated one foo.myns.mydomain one. Since the user explicitly creates the DM, and only DMs within a target in the same namespace are supported,

[2021-03-23 07:26] julz commented on #562
Thanks @ZhiminXiang thatd be helpful. What's the correct way to reference a service from outside the mesh in mesh mode?

[2021-03-23 16:46] ZhiminXiang commented on #562
I think essentially the issue is in the mesh mode, the cluster local gateway is not needed and can be removed, while the DomainMapping feature depends on the cluster local gateway for routing requests.

I think the fix could be:
1. we need to explicitly ask users to not remove the cluster local gateway if they want to use mesh mode.
2. we may want to provide an extra field in the config-istio CM t

[2021-03-23 16:59] ZhiminXiang commented on #562
Another possible option is we may be able to always keep cluster local gateway service and set the route service as ExternalName service.
But for the mesh mode, I am not sure for the internal service to service scenario, if the requests will be sent to the cluster local gateway (i.e. client envoy -> cluster-local-gateway -> destination) or directly to the destination (client envoy -> destination).

[2021-03-26 19:00] JRBANCEL opened #575 "Test Istio release "Istio 1.9.2""
Istio recently (2021-03-25 19:39:28 +0000 UTC) released ["Istio 1.9.2"](https://github.com/istio/istio/releases/tag/1.9.2). Let's test it :rocket:.

[2021-03-30 05:47] ZhiminXiang commented on #562
I have tested the case that 1) Istio sidecar injection enabled and 2) no entry "local-gateway.mesh: mesh" in the config-istio CM 3) dummy knative-local-gateway service (i.e. the service label selector selects dummy labels that map to no pods). And the service to service communication still works.

So I think the entry "local-gateway.mesh: mesh" is not necessary. The service to service requests won

[2021-03-30 05:59] ZhiminXiang commented on #562
So I think the solution to handle the "mesh" mode could be:
1. We explicitly require users to install local gateway service and keep the [cluster local gateway entry](https://github.com/knative-sandbox/net-istio/blob/main/config/config.yaml#L65) in the config-istio CM if users want to use DomainMapping feature no matter if users want to use "mesh" or "no mesh".
2. We should not recommend users to

[2021-04-05 23:18] dprotaso opened #584 "Ensure ingress conformance passes in mesh mode"
Prior to https://github.com/knative-sandbox/net-istio/pull/583 ingress conformance tests were being run _only_ in non-mesh mode. Setting up the mesh property causes visibility to fail consistently (in my local cluster).

Thus this issue is for two things:
1) fix the conformance tests in mesh mode
2) re-enable the conformance tests #583 disabled

[2021-04-06 11:14] dprotaso opened #585 "enabling virtualservice status breaks update tests"
I've observed the virtual service `status.observedGeneration` doesn't change so the net-istio reconciler thinks it's stale and doesn't update. I'm going to disable this flag for the latests tests for now

So because of this we never really ran e2e tests with the virtual status enabled - thus I think this is a legit bug.

_Originally posted by @dprotaso in https://github.com/knative-sandbox/net-ist

[2021-04-06 13:42] dprotaso commented on #585
I created an upstream issue: https://github.com/istio/istio/issues/31931

[2021-04-07 20:26] dprotaso commented on #584
related: https://github.com/knative-sandbox/net-istio/issues/549

[2021-04-07 20:26] dprotaso commented on #584
closing this as dupe actually

[2021-04-07 20:26] #584 closed

[2021-04-07 20:27] dprotaso commented on #549
Note: I've disabled conformance tests in mesh mode in #583

We'll want to re-enable those once this is fixed

[2021-04-08 07:27] Ruminateer opened #590 "Failed to apply https://github.com/knative/net-istio/releases/download/v0.21.0/istio.yaml to the cluster"
I am following the guide at <https://knative.dev/v0.21-docs/install/any-kubernetes-cluster/#installing-the-serving-component> to install Knative. When I am trying to install Istio I got the following output
[code]
However, when I try to run the command the second time, the command exits with no error.
[code]
So the first time running the command, it says the kind is not defined in the API. However

[2021-04-08 09:44] nak3 commented on #590
It is a limitation of Istio installation by `kubectl`. `istio.yaml` contains EnvoyFilter CRD and EnvoyFilter resources. So we need to install EnvoyFilter resources after the CRD was surely available, but `kubectl` does not care the order.
Istio docs explains it above here:

https://istio.io/latest/docs/setup/install/istioctl/#generate-a-manifest-before-installation

For now, if you want to avoid t

[2021-04-08 11:52] Ruminateer commented on #590
Got it, thank you.

[2021-04-08 11:52] #590 closed

[2021-04-08 14:29] dprotaso commented on #590
Yeah @Ruminateer at HEAD we now install the yaml using

https://github.com/knative-sandbox/net-istio/blob/41385e0f15a47f69755b94004d68c2e2275b814d/third_party/library.sh#L126-L133

I've cherry picked the special label `knative.dev/crd-install=true` to the release-0.22 branch and we'll cut a patch release with these manifests soon

[2021-04-08 18:45] dprotaso commented on #590
This point release has the labels: https://github.com/knative-sandbox/net-istio/releases/tag/v0.22.1

[2021-04-15 02:13] nak3 commented on #480
`ko` is used in almost all knative repos such as serving, net-xxx etc... So we should update `ko` version in all repos.

[2021-04-15 02:27] nak3 commented on #542
Support of Istio 1.8.x will end next month. We should update istio-stable to 1.9.x. https://istio.io/latest/news/support/announcing-1.8-eol/

/cc @arturenault

[2021-04-15 17:03] arturenault commented on #575
/assign

[2021-04-15 17:09] arturenault commented on #542
/assign

[2021-04-15 22:41] dprotaso opened #598 "Figure out if we can drop the istio specific ports from serving reconcilers"
From : https://github.com/knative/serving/pull/11063#issuecomment-810367663

Serving tracking issue: https://github.com/knative/serving/issues/11205

I'd be cool to do an exploration and see if this is possible

[2021-04-16 19:00] JRBANCEL opened #601 "Test Istio release "Istio 1.9.3""
Istio recently (2021-04-15 19:59:32 +0000 UTC) released ["Istio 1.9.3"](https://github.com/istio/istio/releases/tag/1.9.3). Let's test it :rocket:.

[2021-04-16 19:00] JRBANCEL opened #602 "Test Istio release "Istio 1.8.5""
Istio recently (2021-04-15 19:59:29 +0000 UTC) released ["Istio 1.8.5"](https://github.com/istio/istio/releases/tag/1.8.5). Let's test it :rocket:.

[2021-04-17 03:47] #542 closed

[2021-04-17 03:47] #575 closed

[2021-04-20 02:30] nak3 commented on #601
/close

Done by https://github.com/knative-sandbox/net-istio/pull/597

[2021-04-20 02:30] #601 closed

[2021-04-20 02:32] nak3 commented on #602
/close

Started testing 1.9.x by https://github.com/knative-sandbox/net-istio/pull/597 as 1.8.x will be EOL next month https://istio.io/latest/about/supported-releases/.

[2021-04-20 02:32] #602 closed

[2021-04-25 20:06] pivotaljohn opened #607 "Upgrade/Require v0.32.0 of ytt"
FWIW: as of release [v0.32.0](https://github.com/vmware-tanzu/carvel-ytt/releases/tag/v0.32.0) of `ytt` , the `--ignore-unknown-comments` flag is no longer needed.

[2021-04-26 00:14] nak3 commented on #607
/cc @dprotaso

[2021-04-26 00:15] dprotaso commented on #607
Woot!

[2021-04-26 06:07] #607 closed

[2021-04-26 10:16] nak3 commented on #480
Thank you for waiting @zyjiaobj CI updated the `ko` version and https://github.com/knative-sandbox/net-istio/pull/610 fixed this issue.
I'm closing this report but please feel free to let us know if you find any further problems.

[2021-04-26 10:16] #480 closed

[2021-04-27 19:00] JRBANCEL opened #613 "Test Istio release "Istio 1.9.4""
Istio recently (2021-04-27 17:59:25 +0000 UTC) released ["Istio 1.9.4"](https://github.com/istio/istio/releases/tag/1.9.4). Let's test it :rocket:.

[2021-04-28 05:44] nak3 opened #615 "Remove sidecar injection "false" from networking-istio"
This is not serious issue but the following `sidecar.istio.io/inject: "false"` should be able to drop now:

https://github.com/knative-sandbox/net-istio/blob/383523e19f68b0dddde1de8ccdbf31b30336028d/config/controller.yaml#L31-L34

[2021-05-09 17:49] vitobotta commented on #463
Hi @Marlinc how did you solve this eventually? Thanks

[2021-05-12 19:00] JRBANCEL opened #624 "Test Istio release "Istio 1.9.5""
Istio recently (2021-05-11 21:19:10 +0000 UTC) released ["Istio 1.9.5"](https://github.com/istio/istio/releases/tag/1.9.5). Let's test it :rocket:.

[2021-05-12 19:00] JRBANCEL opened #625 "Test Istio release "Istio 1.8.6""
Istio recently (2021-05-11 19:43:29 +0000 UTC) released ["Istio 1.8.6"](https://github.com/istio/istio/releases/tag/1.8.6). Let's test it :rocket:.

[2021-05-17 05:56] nak3 commented on #566
I also think this is expected design.
As julz mentioned, the cluster-local ksvc could be exposed but it is done by a user controls, so it should be no problem.

[2021-05-18 18:52] howardjohn opened #630 "Optimize number of Envoy routes created for a single KService"
When creating a single kservice, we end up with a lot of Envoy routes. For example, on the local gateway:
[code]

We get 24 routes. This is 4 variants of the domain X override/no override X 3 variants of the domain (excluding the external one).

I have been looking mostly into the internal gateway, but the external one has similar issues, although a few less matches it seems.

I am investigating t

[2021-05-18 18:56] howardjohn commented on #630
One major issue is the matches:
[code]

This can actually be reduced to
[code]

This reduces the route from 24 -> 8. (very quick and dirty) commit: https://github.com/knative-sandbox/net-istio/commit/f74d21b692023a1b8399f1ccd5b698bc0fe9737c

[2021-05-18 19:00] JRBANCEL opened #631 "Test Istio release "Istio 1.10.0""
Istio recently (2021-05-18 17:18:01 +0000 UTC) released ["Istio 1.10.0"](https://github.com/istio/istio/releases/tag/1.10.0). Let's test it :rocket:.

[2021-05-18 19:00] howardjohn commented on #630
With the above we are down to:
[code]

The internal gateway (probably?) shouldn't allow the external Hostname; the reason it does is we have an authority match on `hello.default.*` which matches it.

Another thing we could do is collapse the domains on the Istio side. This would give us 2 routes (override and not override), which match hello.default, hello.default.svc, hello.default.svc.cluster.lo

[2021-05-19 12:00] julz opened #633 "Allow namespace-less hostnames (when mesh is enabled)"
Currently it is impossible for a Ksvc to curl a Ksvc in the same namespace without specifying the full namespace name in the URL (i.e. curl foo instead of curl foo.ns). This is unlike in raw Kubernetes where this works, and is because we need the namespace from the Host header to determine where to route the request (since Activator and Ingresses are shared and route at the HTTP rather than IP lay

[2021-05-19 12:04] julz commented on #633
Related: https://github.com/knative/serving/issues/11340

[2021-05-19 18:33] howardjohn commented on #630
Before: 506mb ram at ingress, 7.2mb rds payload, 16k routes
After: 350mb ram at ingress, 1.2mb rds payload, 2k routes

[2021-05-20 04:04] howardjohn commented on #633
One confusion I had - do you depend on the mtls certificate or not? It sounds like no with the sourceNamespace+added header.

My concern would be tying networking reachability to use of mtls. It may not be a big deal if everything is using mtls though.

Is there a concern about inconsistency of mesh vs non-mesh?

[2021-05-20 07:53] julz commented on #633
Correct @howardjohn, I think this doesn't need the forwarded-client-cert since the mesh will add the header via the rule (I should have just avoided mentioning the cert, I didn't realise until I'd wrote it that we could do it all with sourceNamespace 😊).

Agree it's a shame for stuff to route differently in mesh vs non-mesh, I just don't know how to fix this in the non-mesh case. So the (very reas

[2021-05-20 08:03] markusthoemmes commented on #633
Now I wonder if this can even work, seeing as Istio wouldn't know where to forward things :thinking:. Do the envoy routers even know what to do with `$svcName`? https://github.com/knative-sandbox/net-istio/issues/630 suggests that the gateways only know the namespace-qualified names anyway, so how would the requests even reach the activator?

[2021-05-20 08:37] julz commented on #633
Not sure I follow @markusthoemmes. The destinations of the virtualservice would be the same as today, only there would be an extra HTTPMatch which matched the namespace-less hostname and required sourceNamespace. So where today we have a VS that looks like:

[code]

we would now have an additional one that looked like:

[code]

[2021-05-20 08:44] markusthoemmes commented on #633
Yeah we should try really. My fear is that we don't even reach these matchers because the "top-level" `Host` doesn't match anything useful. That's just theoretic though, Dr. Empirical will tell.

[2021-05-25 04:50] nak3 opened #637 "Support individual Ingress's HTTPOption"
https://github.com/knative/networking/issues/301 tries to allow a specific Ingress to change http option but current net-istio uses one http server globally with `*`

https://github.com/knative-sandbox/net-istio/blob/ab9dfc86f07f3ce0da06f3cc42282fcf2e0ad82c/config/202-gateway.yaml#L27-L33

So one Ingress's HTTPOption effects on all HTTP behavior. In other words, net-istio have to use same HTTPOpti

[2021-05-26 09:59] nak3 opened #644 "Remove GetIngressGatewaySvcNameNamespaces()"
As TODO comment mentioned, the gateway name and namespaces that are passed at config parsing time.

https://github.com/knative-sandbox/net-istio/blob/fcac8898b371147260c4106bf80f7252f1cfd819/pkg/reconciler/ingress/resources/gateway.go#L366-L382

[2021-05-26 10:53] diarmuidie opened #645 "Ingress Gateway Full Reload Causing High CPU Usage When Adding or Removing Activator from the Path"
We have observed that every time the activator is added or removed from the path it causes Istiod to do a full config push to the ingress gateway. This full push is causing lots of churn and a large CPU utilisation on the ingress gateway and Istiod pods, especially in large clusters with lots of Knative apps which are constantly being added and removed from activators.

### Expected

When Knative

[2021-05-27 05:36] nak3 commented on #625
1.8.x is no longer tested.

[2021-05-27 05:36] #625 closed

[2021-05-27 05:36] nak3 commented on #613
Closing in favor of https://github.com/knative-sandbox/net-istio/issues/624

[2021-05-27 05:36] #613 closed

[2021-05-31 04:19] #440 closed

[2021-06-01 20:40] ZhiminXiang commented on #566
OK this sounds fair. I created a PR to explicitly point it out in our doc https://github.com/knative/docs/pull/3704

[2021-06-02 16:31] ZhiminXiang commented on #637
For the short term to support the backward compatibility, we can do the following works:
1. the global Gateway `knative-ingress-gateway` with HTTP protocol could be considered as the default Gateway when Kingress HTTPOption is HTTP. That is, all HTTP Kingress will be tied to the global Gateway.
2. When Kingress HTTPOption is not HTTP (e.g. HTTPS), we create a Kingress specific Gateway, and tie the

[2021-06-02 19:42] ZhiminXiang commented on #637
/assign

[2021-06-03 04:16] #503 closed

[2021-06-04 02:17] dprotaso commented on #633
So we technically have a top level K8s service for the Knative Service - via the Route.

It was originally there to "program Istio" - https://github.com/knative/serving/blame/c423d611816a414cb2d772b6482ff794991543d6/pkg/controller/elaservice/ela_service.go

Which I think meant the following cluster local services
`helloworld-test-image`
`helloworld-test-image.svc`
`helloworld-test-image.svc.cluste

[2021-06-10 03:48] #218 closed

[2021-06-10 19:00] JRBANCEL opened #667 "Test Istio release "Istio 1.10.1""
Istio recently (2021-06-10 17:11:58 +0000 UTC) released ["Istio 1.10.1"](https://github.com/istio/istio/releases/tag/1.10.1). Let's test it :rocket:.

[2021-06-14 17:09] #631 closed

[2021-06-14 22:42] #624 closed

[2021-06-14 22:42] #667 closed

[2021-06-21 01:49] nak3 commented on #561
/remove-lifecycle stale

[2021-06-21 16:38] maximilien commented on #530
/remove lifecycle/stale

[2021-06-24 10:56] DavidSpek commented on #554
I believe I am also running into this while investigation problems with KFServing for Kubeflow.

[2021-06-24 11:22] DavidSpek commented on #615
@nak3 Could you maybe elaborate on why this can be dropped now?

[2021-06-24 11:29] julz commented on #554
I assume the problem is "`Installed Knative and enabled mTLS PERMISSIVE [https://knative.dev/docs/serving/istio-authorization/] as requests might be forwarded by activator based on TargetBurstCapacity.`" -- the services in different namespace will be able to communicate with each other whenever activator is in path, because activator is allowed to access any service.

Unfortunately I think this is

[2021-06-25 10:12] nak3 commented on #615
The annotation was required for pod addressability as per https://github.com/knative/serving/pull/6413#issuecomment-570697144
But as far as I tested on my local, probe worked fine with injection now so I thought we could drop it. (But we still need to confirm if it can be really dropped. I just did a quick test.)

[2021-06-25 18:28] maximilien commented on #633
/label mesh

[2021-06-25 19:00] JRBANCEL opened #691 "Test Istio release "Istio 1.10.2""
Istio recently (2021-06-24 19:17:36 +0000 UTC) released ["Istio 1.10.2"](https://github.com/istio/istio/releases/tag/1.10.2). Let's test it :rocket:.

[2021-06-25 19:00] JRBANCEL opened #692 "Test Istio release "Istio 1.9.6""
Istio recently (2021-06-24 19:16:50 +0000 UTC) released ["Istio 1.9.6"](https://github.com/istio/istio/releases/tag/1.9.6). Let's test it :rocket:.

[2021-06-27 06:10] nak3 commented on #561
@podilavenky Could you please verify if the issue could happen with this sample image on your end? https://dev-knative.netlify.app/development/developer/serving/services/creating-services/
I think we could narrow down the issue whether user container's issue or not. Unfortunately I cannot produce the issue with the sample on my end.

You mean that you want to set CPU limits __only if__ you enable

[2021-06-30 13:22] DavidSpek commented on #554
@julz I've noticed that the Activator seems to try to access the service pods directly, rather than their service. Is that correct? This is currently preventing me from implementing an authorization rule that allows access to `/metrics`, `/ready` and other paths KNative uses only from the `knative-serving` namespace or the service account KNative uses. In a situation like Kubeflow where users are

[2021-06-30 13:26] markusthoemmes commented on #554
The knative activator will indeed try to directly address the pods, if it can. It should not be able to do that with mTLS strict and thelike enabled. It'll fall back to service-communication if it finds it can't address the pods directly.

[2021-06-30 13:27] DavidSpek commented on #554
@markusthoemmes Thanks for the response. I'll try enabling strict mode and see if that helps.

[2021-06-30 13:28] yanniszark commented on #554
Thanks a lot @markusthoemmes! Could you expand a little on what you mean by:

What does Knative check to decide that it can't address a Pod directly?
What is the minimum Knative version that this should be working in?

P.S. We have also found this issue from you (https://github.com/istio/istio/issues/23494) which seems relevant to the discussion at hand.

[2021-06-30 13:30] markusthoemmes commented on #554
It tries to send a request to the pod directly. If that doesn't work, it falls back to the Service. This should be working since like ever. Which version would you be bound to?

[2021-06-30 13:31] DavidSpek commented on #554
@markusthoemmes We are using Istio 1.9.5 or higher at the moment. Personally, I am using the latest KNative. Kubeflow is using KNative 0.17.3.

[2021-06-30 13:34] markusthoemmes commented on #554
Though I'd strongly suggest to think about updating (we've just released 0.24), 0.17 should have this fallback methodology in. I wonder why the activator can even reach the pods directly in your system. Are you injecting sidecars into both the activator and the service pods?

[2021-06-30 13:36] DavidSpek commented on #554
I'll update to 0.24 now or very soon in any case. Both the activator and the service pods have sidecars injected yes.

[2021-06-30 13:43] DavidSpek commented on #554
I just forced strict mTLS for my namespace and the activator indeed started calling the service instead of the Pod directly.

[code]

[2021-06-30 13:46] yanniszark commented on #554
It's great that it worked with strict mTLS. But I don't understand why this did not work:

The Knative activator is getting back a 403. Shouldn't it use the service at that point.
If possible, do you know where in the code this happens?

[2021-06-30 13:57] markusthoemmes commented on #554
https://github.com/knative/serving/blob/c75484eac76bb7d6cafc5a06b754b2e7cb1f015b/pkg/activator/net/revision_backends.go#L146-L183

It currently (as of quite recently) looks at specific errors (503s specifically). It used to fallback on any error response (including 403s IIRC).

[2021-06-30 14:55] dicolasi commented on #561
I have exactly the same problem.

[2021-06-30 15:12] yanniszark commented on #554
@markusthoemmes I think the problem was not with the probes.
I believe the problem only came up when the activator tried to proxy a request.
Do you know if that's a different part of the code?

[2021-06-30 15:14] DavidSpek commented on #554
@yanniszark The probes were what was being blocked, since it were the requests from the Activator to the `/ready` endpoint (and also from the autoscaler to the `/metrics` endpoint).

[2021-06-30 15:17] markusthoemmes commented on #554
The probes will determine if the activator routes via service or directly to the pod. The actual proxying is then basically doing the same thing (without the fallback bit in it)

[2021-06-30 15:54] evankanderson commented on #561
Are you trying to increase the user-container limits or the Istio sidecar limits? (Istio startup work is based on the size of the mesh, so a large mesh may need an additional burst of CPU at startup.)

[According to the Istio docs](https://istio.io/latest/docs/reference/config/annotations/), `sidecar.istio.io/proxyCPULimit` may be useful for ensuring Istio has access to extra CPU at startup.

[2021-07-01 06:25] dicolasi commented on #561
@evankanderson the problem is with queue-proxy that takes almost 1 minute to start.
![Screenshot 2021-06-30 at 15 47 06](https://user-images.githubusercontent.com/54740533/124075911-75d9cb80-da3d-11eb-9c42-e41826ade4ab.png)
Wonder if this is a bug, or a normal behaviour (I am new with Knative)

[2021-07-01 23:28] #637 closed

[2021-07-02 09:18] dicolasi commented on #561
This solves the problem of app starting before istio sidecar is ready:

[code]
Just add that in your Istio yaml.

[2021-07-02 09:36] dicolasi commented on #561
Still with the same error:

`
{"severity":"INFO","timestamp":"2021-07-02T09:35:05.103678056Z","caller":"logging/config.go:116","message":"Successfully created the logger."}
{"severity":"INFO","timestamp":"2021-07-02T09:35:05.103731081Z","caller":"logging/config.go:117","message":"Logging level set to: info"}
{"level":"info","ts":1625218505.104124,"logger":"fallback","caller":"metrics/metrics_worke

[2021-07-02 09:40] dicolasi commented on #561
if I remove the istio proxy, it works perfectly fine...

[2021-07-06 18:55] dprotaso commented on #585
/lifecycle frozen

[2021-07-08 06:16] ZhiminXiang commented on #645
This sounds more like an Istio issue? cc @howardjohn

To add more context, Knative simply switches the k8s Endpoints of a k8s service from user's pod endpoints to activator pod endpoints when adding activator into the request path.

[2021-07-08 06:16] ZhiminXiang commented on #645
@diarmuidie which Istio version did you test with?

[2021-07-08 09:22] diarmuidie commented on #645
I have reproduced this on Istio 1.5.6 and 1.9.1

[2021-07-08 15:36] howardjohn commented on #645
Its not really an Istio bug, more of a expected behavior of Istio (keeping the full list of all service accounts of the service in sync) that happens to be extremely slow in this case. Due to how Envoy is configured, updating service accounts list is very expensive. So with knative swapping it so often, we end up with a lot of full pushes which are expensive. In the long term we can make this some

[2021-07-09 16:44] karlschriek opened #700 "net-istio-controller probing fails with 403 error, Revisions stuck on "Waiting for load balancer to be ready""
In the [argoflow-aws](https://github.com/argoflow/argoflow-aws) project we are putting together a Kubeflow distribution that (among other things of course) implements Istio 1.10.2, KNative 0.24 and KFServing 0.6.0.

We are now fairly close to having a working solution, but are currently not able to reliably serve any KFServing models. KFServing's interaction with KNative is essentially just as ano

[2021-07-12 07:51] karlschriek commented on #700
A bit more info, after discovering https://github.com/knative-sandbox/net-istio/pull/355/files we have now set `enable-virtualservice-status: 'true'` in the `config-istio` ConfigMap.

The result is that `net-istio-controller` no longer reports any errors. If I have understood the PR above correctly, it now just asks the VS for the status, rather than attempting to send a probe to the istio-ingress

[2021-07-12 08:58] karlschriek commented on #700
After setting log-level to DEBUG on `activator`, here are the last few logs before the probing stops. Initially clusterIP probing fails but in the end it does succeed it seems. So does the issue still remain at the `net-istio-controller`? That is after all what is supposed to handle the load balancer readiness if I undestood correctly.

[code]

[2021-07-12 09:21] karlschriek commented on #700
Now looking at the net-istio-controller's full debugging logs (pasted below, apologies it is quite long) I can see the Route status being set to "Waiting for load balancer to be ready". I also eventually see "Ingress successfully synced" and "Reconcile succeeded". To be more specific, I see these message four times, so even though the sync is appararently successfull, the controller keeps attempti

[2021-07-12 11:30] karlschriek commented on #700
So, I realise this reads a lot like a personal debugging log, but the point is also to create a trail of thought for the next person who has these questions.

 Following on from the previous comment, the statement was a bit confusing since it suggested that the VS had a status, but that it wasn't ready. In fact the VS had no status and this needed to be enabled as per https://istio.io/latest/docs/

[2021-07-15 01:38] #555 closed

[2021-07-15 06:39] nak3 commented on #691
https://github.com/knative-sandbox/net-istio/pull/699 updated.

[2021-07-15 06:39] #691 closed

[2021-07-15 06:39] nak3 commented on #692
https://github.com/knative-sandbox/net-istio/pull/699 updated.

[2021-07-15 06:39] #692 closed

[2021-07-15 10:01] karlschriek opened #704 "Publish releases as Kustomize manifests directly in Git Repo"
We are running a [project](https://github.com/argoflow/argoflow-aws) where we use ArgoCD to put together a Kubeflow distribution. We use a lot of upstream releases to manage this - either using Helm or Kustomize. A typical setup using Kustomize would look like this for example:

[code]

I.e. here we use the upstream manifests found in `github.com/kubeflow/kfserving/config/overlays/kubeflow` and th

[2021-07-16 04:49] nak3 commented on #704
Hi @karlschriek Quick Q: You have the same problem with [Serving](https://github.com/knative/serving) repo, right? Or you want to change the net-istio repo only to have the Kustomize file?

[2021-07-17 19:00] JRBANCEL opened #706 "Test Istio release "Istio 1.10.3""
Istio recently (2021-07-16 23:46:06 +0000 UTC) released ["Istio 1.10.3"](https://github.com/istio/istio/releases/tag/1.10.3). Let's test it :rocket:.

[2021-07-23 19:00] JRBANCEL opened #712 "Test Istio release "Istio 1.9.7""
Istio recently (2021-07-22 19:24:37 +0000 UTC) released ["Istio 1.9.7"](https://github.com/istio/istio/releases/tag/1.9.7). Let's test it :rocket:.

[2021-07-30 01:31] #562 closed

[2021-08-05 11:20] nak3 opened #718 "`config.Istio` does not need to take multiple Gateways"
The following `IngressGateways` and `LocalGateways` should be a single Gateway:

https://github.com/knative-sandbox/net-istio/blob/d7625fa51eb7e53757e4af95bc09ac86f07c921a/pkg/reconciler/ingress/config/istio.go#L89-L93

Even if it takes multiple Gateways, only one Gateway is used. For example:

https://github.com/knative-sandbox/net-istio/blob/d7625fa51eb7e53757e4af95bc09ac86f07c921a/pkg/reconcile

[2021-08-05 12:48] nak3 opened #719 "`ListProbeTargets()` does not list probe targets accurately"
Current [`ListProbeTargets()`](https://github.com/knative-sandbox/net-istio/blob/d7625fa51eb7e53757e4af95bc09ac86f07c921a/pkg/reconciler/ingress/lister.go#L61) does:

1. List Istio Gateways specified in config-istio by `qualifiedGatewayNamesFromContext()`
2. List the ingress service by the Gateway selector.
3. Add the schema (`http` or `https`) defined in the Istio Gateway listed by step-1 to the

[2021-08-10 15:19] diarmuidie commented on #704
You can reference the release yaml directly in your Kustomize files:
[code]

[2021-08-11 01:31] nak3 commented on #704
Great! I didn't know that. Thank you @diarmuidie
Does it solve your issue @karlschriek ?

[2021-08-11 07:55] karlschriek commented on #704
I can't really test this at the moment unfortunately, but if it is possible
like this then it solves it I guess. Bit unfortunate still that it isn't
linked to a git reference (sha or tag) since that makes using tools like
renovate possible, but that is somewhat secondary.

@DavidSpek do you want to have a look at this?

On Wed, 11 Aug 2021, 03:31 Kenjiro Nakayama, ***@***.***>
wrote:

[2021-08-11 15:23] dprotaso commented on #633
Following up I realize the external name eventually changes to point to the internal k8s service fronting the ingress proxies

ie. for contour it's `envoy.contour-internal.svc.cluster.local`

So in the non-mesh case this works as expected

[2021-08-15 01:25] #598 closed

[2021-08-16 13:30] dprotaso commented on #712
closing this will be EOL this month

[2021-08-16 13:30] #712 closed

[2021-08-16 13:33] dprotaso opened #721 "Bump Istio Stable and Istio Latest"
Looks like istio 1.9 will be EOL this month so we'll want to bump to stable to 1.10

https://istio.io/latest/docs/releases/supported-releases/#support-status-of-istio-releases

[2021-08-17 01:35] #721 closed

[2021-08-17 05:39] nak3 commented on #706
`istio-stable` started using 1.10.3 now.

[2021-08-17 05:39] #706 closed

[2021-08-25 19:00] JRBANCEL opened #737 "Test Istio release "Istio 1.9.8""
Istio recently (2021-08-24 19:49:05 +0000 UTC) released ["Istio 1.9.8"](https://github.com/istio/istio/releases/tag/1.9.8). Let's test it :rocket:.

[2021-08-25 19:00] JRBANCEL opened #738 "Test Istio release "Istio 1.10.4""
Istio recently (2021-08-24 19:42:37 +0000 UTC) released ["Istio 1.10.4"](https://github.com/istio/istio/releases/tag/1.10.4). Let's test it :rocket:.

[2021-08-25 19:00] JRBANCEL opened #739 "Test Istio release "Istio 1.11.1""
Istio recently (2021-08-24 19:42:06 +0000 UTC) released ["Istio 1.11.1"](https://github.com/istio/istio/releases/tag/1.11.1). Let's test it :rocket:.

[2021-08-26 03:03] #737 closed, assigned to nobody

[2021-08-26 15:17] diarmuidie opened #740 "Envoy External Address Reported Incorrectly For Domain Mappings"
When using a domain mapping with a Knative app Envoy incorrectly reports the Ingressgateway pod IP as the remote IP address:

**Expected Behaviour:**
The `x-envoy-external-address` in requests contains the correct external IP address of the requester when using a domain mapping domain.

**Actual Behaviour:**
The `x-envoy-external-address` contains the IP address of the Istio Ingress Gateway Pod.

[2021-09-03 19:00] JRBANCEL opened #749 "Test Istio release "Istio 1.11.2""
Istio recently (2021-09-02 20:45:09 +0000 UTC) released ["Istio 1.11.2"](https://github.com/istio/istio/releases/tag/1.11.2). Let's test it :rocket:.

[2021-09-04 09:32] cinaradem opened #753 "Knative istio client ip is not working"
Hi,
I am using istio in knative. Since the client ip did not come, I activated the reverse-prox. I added envoyfilter. but I get "upstream connect error or disconnect/reset before headers. reset reason: connection termination" error in services on knative.
if it's not knative service I can access it.

**virtualservice**

------------------------

apiVersion: networking.istio.io/v1alpha3
kind: Virtu

[2021-09-07 02:22] nak3 opened #755 "Bump istio.io/client-go"
istio.io/client-go still uses v1.8.

https://github.com/knative-sandbox/net-istio/blob/0a7c368ccbb41af7bfa15fe06d4f8e6bb1c5dc51/go.mod#L10-L11

It should be updated.

[2021-09-07 02:23] nak3 commented on #739
We should track this by https://github.com/knative-sandbox/net-istio/issues/749

[2021-09-07 02:23] #739 closed

[2021-09-10 09:08] julz commented on #740
Hi @diarmuidie thanks for the report! I think this makes sense, given how domain mapping is currently implemented (there's an extra hop involved via the cluster-local ingress, at least in the istio implementation). Can you say a bit more about why you need to use x-envoy-external-address rather than x-forwarded-for for your use case?

[2021-09-10 10:27] diarmuidie commented on #740
Hi @julz,

Ya, there are two problems this present for my use case. One is that by default the envoy logs report the incorrect IP. That's not a huge deal and we can work around it by using the x-forwarded-for like you say

The other is that because of the internal redirect the `x-forwarded-proto` header ends up being incorrect:

With domain mapping connected over HTTPS
[code]

Without Domain Mappi

[2021-09-10 10:55] julz commented on #740
Yeah, wonder if we could bump xff_num_trusted_hops in the domain mapping somehow 🤔

[2021-09-16 20:46] ZhiminXiang opened #769 "Transient error should not mark Ingress status as False"
When reconciling VirtualService, the following transient error could happen
[code]

For this error, we mark Ingress status as Failed https://github.com/knative-sandbox/net-istio/blob/main/pkg/reconciler/ingress/ingress.go#L197 which may not be ideal. We probably just need to check this error, and mark it as Unknown.

[2021-09-18 01:27] #630 closed

[2021-09-24 19:00] JRBANCEL opened #775 "Test Istio release "Istio 1.11.3""
Istio recently (2021-09-23 19:56:23 +0000 UTC) released ["Istio 1.11.3"](https://github.com/istio/istio/releases/tag/1.11.3). Let's test it :rocket:.

[2021-09-29 09:27] #755 closed

[2021-09-30 04:20] ZhiminXiang commented on #566
/close

[2021-09-30 04:20] #566 closed

[2021-10-09 01:29] nak3 opened #782 "Drop Istio stable (or latest) from test"
Currently Istio has __three__ version tests as:

head: https://testgrid.k8s.io/r/knative-own-testgrid/serving#istio-head-no-mesh
latest: https://testgrid.k8s.io/r/knative-own-testgrid/serving#istio-latest-no-mesh
stable: https://testgrid.k8s.io/r/knative-own-testgrid/serving#istio-stable-no-mesh

We should drop the latest or stable from the CI for the following reasons:
- The `stable` is an old ve

[2021-10-21 01:29] #530 closed

[2021-10-24 01:27] #615 closed

[2021-10-29 15:07] tshak opened #797 "TLS Secrets in Istio namespace not updated after Certificate is renewed"
Knative-serving (and all components including net-istio and nscert, installed using release artifacts): v0.24.0
Kubernetes (Azure AKS managed): v1.19.11
Cert-Manager: v1.4.0
Istio/Istio-Operator: v1.10.4
Relevant configuration: AutoTLS with wildcard namespace certs.

## Expected:
When cert-manager renews certificates the TLS secrets should be updated the Istio namespace (in our case `istio-system`

[2021-11-01 01:27] #561 closed

[2021-11-07 01:27] #645 closed

[2021-11-11 01:26] #700 closed

[2021-11-18 12:46] nak3 commented on #719
The another failure scenario is discussed in the slack https://knative.slack.com/archives/C0186KU7STW/p1637206270281700?thread_ts=1637171885.256400&cid=C0186KU7STW

If an Istio Gateway (`knative-ingress-gateway`) has `tls.mode` without `MUTUAL` the prober recoginize the target as TLS and it  tries to probe with `https` scheme.
For example, the following gateway fails.
[code]

[2021-11-19 20:00] JRBANCEL opened #815 "Test Istio release "Istio 1.12.0""
Istio recently (2021-11-19 02:12:23 +0000 UTC) released ["Istio 1.12.0"](https://github.com/istio/istio/releases/tag/1.12.0). Let's test it :rocket:.

[2021-11-22 15:52] 7adietri commented on #740
This is quite a problem for us too, because (as far as I can tell) logic in i.e. [flask.Request](https://flask.palletsprojects.com/en/2.0.x/api/#flask.Request.is_secure) now thinks the requests are insecure and we check for that.

[2021-11-24 04:49] #738 closed

[2021-11-27 02:12] nak3 commented on #815
Closing as it started testing.

[2021-11-27 02:12] #815 closed

[2021-12-01 14:56] #782 closed

[2021-12-03 20:00] JRBANCEL opened #825 "Test Istio release "Istio 1.11.5""
Istio recently (2021-12-03 19:08:02 +0000 UTC) released ["Istio 1.11.5"](https://github.com/istio/istio/releases/tag/1.11.5). Let's test it :rocket:.

[2021-12-07 20:00] JRBANCEL opened #830 "Test Istio release "Istio 1.10.6""
Istio recently (2021-12-06 21:47:07 +0000 UTC) released ["Istio 1.10.6"](https://github.com/istio/istio/releases/tag/1.10.6). Let's test it :rocket:.

[2021-12-09 20:00] JRBANCEL opened #833 "Test Istio release "Istio 1.12.1""
Istio recently (2021-12-08 20:15:09 +0000 UTC) released ["Istio 1.12.1"](https://github.com/istio/istio/releases/tag/1.12.1). Let's test it :rocket:.

[2021-12-10 03:13] #825 closed

[2021-12-10 03:13] #830 closed

[2021-12-11 01:26] #633 closed

[2021-12-21 12:53] dahateb opened #838 "Failed to reconcile Ingress - Istio 1.11.4"
Hi we have an issue that when rolling out a kservice with a public url we get this status message:
[code]

This seems to come down to an error in the `net-istio-controller`:

[code]
We are currently using Istio 1.11.4 with specific revision labels on the namespaces and also an istio-ingressgateway that was renamed to `istio-ingressgateway-1-11-4`.

The `config-istio`  configmap looks like this:

[

[2021-12-21 13:20] nak3 commented on #838
Hi @dahateb
It seems that net-istio controller tries to create an invalid Istio Gateway which does not have `spec.servers`.
Could you please share the following information?
- What Knative version you are using?
- What your `config-network` looks like?

I wonder you configured `http-protocol: "Disabled"` or using some old Knative version :thinking: .

[2021-12-21 13:27] nak3 commented on #838
I am still not 100% sure if it's root cause or not but https://github.com/knative-sandbox/net-istio/blob/2e3df687019db608f78d690e66b9b737f9cc488e/pkg/reconciler/ingress/ingress.go#L166
needs nil check for `httpServer` as `MakeHTTPServer` could return `nil` when httpOption is empty. (dahateb's httpOption is empty as per log.)

[2021-12-21 14:39] dahateb commented on #838
Hey thanks for the quick reply and the pointer. I reenabled `httpProtocol` in `config-network` and it started to work again. Still a bit puzzled why that flag causes an error though.

[2021-12-21 16:01] dahateb commented on #838
Just to complete this:

knative version: 0.25.0
config-network:

[code]

[2021-12-21 16:02] dahateb commented on #838
that version of `config-istio` was from a test cluster where I upgraded to the latest version

[2021-12-22 00:04] nak3 commented on #838
Great to hear that it works with reenabled htttpOption.
`httpProtocol: Disabled` is deprecated actually.

https://github.com/knative/networking/blob/62aefa40945342bc60eec11a79e37df78053dbc6/config/config-network.yaml#L129-L130

We are discussing it on https://github.com/knative/networking/issues/417 but the option would be removed.

[2021-12-29 07:08] ismailbaskin opened #840 "Release manifest is not compatible with kustomize 4."
Due to Kustomize's [integer keys bug](https://github.com/kubernetes-sigs/kustomize/issues/3446) integer keys are not usable. net-istio's PeerAuthentications use integer keys on [`spec.portLevelMtls` field](https://github.com/knative-sandbox/net-istio/blob/b499a26fdf/config/400-webhook-peer-authentication.yaml#L57) . Although the problem is not directly related to this project, I think that not usi

[2022-01-03 01:28] #753 closed

[2022-01-04 00:44] #840 closed

[2022-01-07 01:30] #644 closed

[2022-01-14 14:41] wu0407 opened #847 "multi headers is be override in knative ingress"
knative version: v1.1.0
net-istio version: v1.1.0

1. create knative ingress:
[code]
2. net-istio will create virtualservice:
[code]
3. The first header `version: canary` is to be override.

related code:
https://github.com/knative-sandbox/net-istio/blob/ab9dfc86f07f3ce0da06f3cc42282fcf2e0ad82c/pkg/reconciler/ingress/resources/virtual_service.go#L264-L272

[2022-01-14 15:55] wu0407 opened #848 "duplicate ingress.InsertProbe in same hosts and probe path isn't /healthz"
Net-istio probe ingress is health by request each host path `/healthz` and  with headers  `"User-Agent: Knative-Ingress-Probe" "K-Network-Hash: override"  "K-Network-Probe: probe"`.  But `ingress.InsertProbe` is only copy the origin path and not duplicate host.
Each host set and each backend, only need set one probe istio `HTTPMatchRequest`.

**situation**:
1.  one host and multi paths and  each p

[2022-01-15 01:28] #769 closed

[2022-01-15 03:15] wu0407 commented on #848
my target is use net-istio to support path based routing and header based routing. But not logic is not deployed in current net-istio.
https://github.com/knative/serving/issues/11997

[2022-01-17 10:38] nak3 commented on #848
Hi @wu0407

Sorry if you have already checked, but have you already checked the following docs? These doc might help your requirement.
https://github.com/knative/docs/tree/main/code-samples/serving/tag-header-based-routing (tag header based routing)
https://github.com/knative/docs/tree/main/code-samples/serving/knative-routing-go (path based routing by using front VirtualService.)

[2022-01-18 02:56] wu0407 commented on #848
yes, I known that method to support this function.  but it is not beautiful and native.
Proposal support  path based routing and header based routing when knative object `Dispatcher` is achieved.

[2022-01-19 15:10] philschmid opened #850 "Configure `accessLogFile` for `net-istio` installation."
Hello 🙋🏻‍♂️,

I couldn't find any documentation on where to configure `accessLogFile: /dev/stdout`.

I am using istio in combination with knative. I followed the instruction in the [documentation](https://knative.dev/docs/install/serving/install-serving-with-yaml/) and installed istio using the yamls provided by `net-istio`

[code]
and
[code]
I searched through the logs and GitHub but couldn't fin

[2022-01-19 20:00] JRBANCEL opened #851 "Test Istio release "Istio 1.12.2""
Istio recently (2022-01-19 00:17:39 +0000 UTC) released ["Istio 1.12.2"](https://github.com/istio/istio/releases/tag/1.12.2). Let's test it :rocket:.

[2022-01-25 16:03] philschmid commented on #850
You can patch the istio config even it installed using the yaml.

Therefore you need to patch the config and then delete/restart all istio-gateway pods

[code]
followed by
[code]

[2022-01-25 16:03] #850 closed

[2022-01-28 13:20] tshak commented on #797
We have not been able to repro this behavior on newer versions.

[2022-01-28 13:20] #797 closed

[2022-02-04 20:00] JRBANCEL opened #864 "Test Istio release "Istio 1.11.6""
Istio recently (2022-02-03 23:53:59 +0000 UTC) released ["Istio 1.11.6"](https://github.com/istio/istio/releases/tag/1.11.6). Let's test it :rocket:.

[2022-02-07 02:21] #864 closed

[2022-02-07 02:22] #833 closed

[2022-02-07 17:52] #851 closed

[2022-02-10 22:25] psschwei opened #869 "Deprecation warnings for HorizontalPodAutoscaler and PodDisruptionBudget"
I was [installing Istio](https://knative.dev/docs/install/serving/install-serving-with-yaml/#install-a-networking-layer) on a local k8s v1.22 cluster and got the following warnings during the install:

`Warning: autoscaling/v2beta1 HorizontalPodAutoscaler is deprecated in v1.22+, unavailable in v1.25+; use autoscaling/v2beta2 HorizontalPodAutoscaler`
`Warning: policy/v1beta1 PodDisruptionBudget is

[2022-02-11 20:00] JRBANCEL opened #870 "Test Istio release "Istio 1.12.3""
Istio recently (2022-02-11 11:07:56 +0000 UTC) released ["Istio 1.12.3"](https://github.com/istio/istio/releases/tag/1.12.3). Let's test it :rocket:.

[2022-02-12 20:00] JRBANCEL opened #871 "Test Istio release "Istio 1.13.0""
Istio recently (2022-02-11 22:44:40 +0000 UTC) released ["Istio 1.13.0"](https://github.com/istio/istio/releases/tag/1.13.0). Let's test it :rocket:.

[2022-02-14 07:22] nak3 commented on #869
Yes, I agree that it is an upstream issue. And I found https://github.com/istio/istio/issues/34479 is fixing it.

[2022-02-14 07:29] #870 closed

[2022-02-14 18:05] #871 closed

[2022-02-23 20:00] JRBANCEL opened #881 "Test Istio release "Istio 1.11.7""
Istio recently (2022-02-22 20:53:26 +0000 UTC) released ["Istio 1.11.7"](https://github.com/istio/istio/releases/tag/1.11.7). Let's test it :rocket:.

[2022-02-23 20:00] JRBANCEL opened #882 "Test Istio release "Istio 1.12.4""
Istio recently (2022-02-22 20:53:08 +0000 UTC) released ["Istio 1.12.4"](https://github.com/istio/istio/releases/tag/1.12.4). Let's test it :rocket:.

[2022-02-23 20:00] JRBANCEL opened #883 "Test Istio release "Istio 1.13.1""
Istio recently (2022-02-22 20:51:18 +0000 UTC) released ["Istio 1.13.1"](https://github.com/istio/istio/releases/tag/1.13.1). Let's test it :rocket:.

[2022-03-10 20:00] JRBANCEL opened #887 "Test Istio release "Istio 1.13.2""
Istio recently (2022-03-09 23:42:34 +0000 UTC) released ["Istio 1.13.2"](https://github.com/istio/istio/releases/tag/1.13.2). Let's test it :rocket:.

[2022-03-10 20:00] JRBANCEL opened #888 "Test Istio release "Istio 1.12.5""
Istio recently (2022-03-09 23:44:57 +0000 UTC) released ["Istio 1.12.5"](https://github.com/istio/istio/releases/tag/1.12.5). Let's test it :rocket:.

[2022-03-10 20:00] JRBANCEL opened #889 "Test Istio release "Istio 1.11.8""
Istio recently (2022-03-09 23:43:06 +0000 UTC) released ["Istio 1.11.8"](https://github.com/istio/istio/releases/tag/1.11.8). Let's test it :rocket:.

[2022-03-16 06:00] #889 closed

[2022-03-16 06:00] #881 closed

[2022-03-16 06:00] #882 closed

[2022-03-16 06:01] #888 closed

[2022-03-16 06:01] #883 closed

[2022-03-19 01:32] #719 closed

[2022-03-23 01:32] #740 closed

[2022-04-06 19:00] JRBANCEL opened #902 "Test Istio release "Istio 1.12.6""
Istio recently (2022-04-06 07:55:15 +0000 UTC) released ["Istio 1.12.6"](https://github.com/istio/istio/releases/tag/1.12.6). Let's test it :rocket:.

[2022-04-21 01:36] #838 closed

[2022-04-25 14:47] AngeloDanducci commented on #887
/assign @AngeloDanducci

[2022-04-27 00:57] nak3 commented on #902
Closing as we are testing 1.13.

[2022-04-27 00:57] #902 closed

[2022-04-27 02:01] nak3 commented on #887
@AngeloDanducci Thank you so much for taking this.
Updating Istio manifest needs some tweak in the script. I have written the docs so it would be great if you can review this PR https://github.com/knative-sandbox/net-istio/pull/910

[2022-04-28 00:58] #887 closed

[2022-04-28 01:48] nak3 opened #913 "istio-head manifest does not track `HEAD` automatically"
`istio-head` downloads the nightly Istio build for test. However, the manifest under `third_party/istio-head/` needs manual update and so it is usually obsolete.

There are some idea to solve:

- Bump to some notable pre-release and not HEAD - ie. bump to a latest nightly release on a Friday. see - https://github.com/knative-sandbox/net-istio/pull/828#issuecomment-987389647
- Let update-deps bot l

[2022-04-28 04:26] nak3 commented on #913
knbots send the PR every 12 hours when there is a diff - https://github.com/knative-sandbox/knobots/blob/f3e8c0588c8e815a0d3100eccaafa6fca2948ce2/.github/workflows/auto-update-deps.yaml#L24
So, it is too frequent to bump the istio head.

[2022-05-04 18:25] AngeloDanducci commented on #913
Sounds like we don't want to use knbot for all new head changes.

What do you see the pros/cons of notable pre release vs using the networking library to run istioctl install?

I vaguely remember the community moving away from istioctl install in favor of yaml.  Any thoughts on this @dprotaso ?

[2022-05-06 19:00] JRBANCEL opened #918 "Test Istio release "Istio 1.12.7""
Istio recently (2022-05-06 18:02:08 +0000 UTC) released ["Istio 1.12.7"](https://github.com/istio/istio/releases/tag/1.12.7). Let's test it :rocket:.

[2022-05-10 06:37] nak3 commented on #918
Closing as net-istio is testing 1.13.x.

[2022-05-10 06:37] #918 closed

[2022-05-13 20:32] AngeloDanducci opened #924 "Update Istio version to 1.13.3"
New Istio version was released here https://github.com/istio/istio/releases/tag/1.13.3

[2022-05-14 04:12] #924 closed

[2022-05-15 01:35] #847 closed

[2022-05-16 12:28] psschwei commented on #869
Closing since it's an upstream issue

[2022-05-16 12:28] #869 closed

[2022-05-17 19:00] JRBANCEL opened #928 "Test Istio release "Istio 1.13.4""
Istio recently (2022-05-17 17:22:27 +0000 UTC) released ["Istio 1.13.4"](https://github.com/istio/istio/releases/tag/1.13.4). Let's test it :rocket:.

[2022-05-18 00:26] teebu commented on #561
Any solutions? seeing same here.

[2022-05-19 00:40] #928 closed, assigned to nobody

[2022-05-20 01:34] #848 closed

[2022-05-24 21:48] evankanderson commented on #561
I think the last analysis here was that `queue-proxy` was failing readiness checks until it could connect to the application container. Istio tends to block all network traffic until the Istio sidecar has loaded the mesh state, which can stall applications which try to connect to their backends before starting their listening port (a reasonable decision). Depending on the startup connection delay

[2022-06-07 20:27] AngeloDanducci opened #938 "net-istio flaky conformance tests"
Failing tests can be found [here](https://prow.knative.dev/?job=nightly_net-istio_main_periodic)

TestIngressConformance/Update/# seems to be the primary culprit, with the issue
 `Reason:"NewObservedGenFailure", Message:"unsuccessfully observed a new generation"`

 Will dig into this a bit more and update the issue with any further findings.

[2022-06-07 20:27] AngeloDanducci commented on #938
/assign @AngeloDanducci

[2022-06-10 19:00] JRBANCEL opened #944 "Test Istio release "Istio 1.14.1""
Istio recently (2022-06-09 19:09:15 +0000 UTC) released ["Istio 1.14.1"](https://github.com/istio/istio/releases/tag/1.14.1). Let's test it :rocket:.

[2022-06-10 19:00] JRBANCEL opened #945 "Test Istio release "Istio 1.13.5""
Istio recently (2022-06-09 19:11:27 +0000 UTC) released ["Istio 1.13.5"](https://github.com/istio/istio/releases/tag/1.13.5). Let's test it :rocket:.

[2022-06-15 18:38] AngeloDanducci commented on #938
Looks like it may be related to this as the observed generation isn't incrementing.
https://github.com/istio/istio/issues/31931

[2022-06-16 02:50] nak3 commented on #945
Closing as 1.14.x should be tested.

[2022-06-16 02:50] #945 closed

[2022-06-16 15:48] #944 closed

[2022-06-24 07:26] rachitchauhan43 opened #947 "Allow more control on configuration of virtual services being created by net-istio controller."
### Context:
We are running kserve on top of knative-serving. For every kserve InferenceService (aka ISVC), 3 virtual services are being created by net-istio controller:
1. one created with the same name as ISVC => bound to `knative-ingress-gateway` and `knative-local-gateway`
2. ISVC_NAME-predictor-default-ingress => bound to `knative-ingress-gateway` and `knative-local-gateway`
3. ISVC_NAME-pred

[2022-07-08 09:08] infonaresh opened #950 "Failed to resolve image to digest on knative istio-1.5.0 serving-1.4.0 and k8s-1.22"
Hi Team,

I am facing issue after upgrading my Azure k8s version from 1.21.9 to 1.22.6, previously it was working fine with 1.21.9 and Knative was- v0.23.
That old knative version was not supported for my new aks k8s version(1.22.6). that way we have decided to upgrade knative services also.

 Now it's started giving error while pulling api- service images from private azure acr registry .

 error

[2022-07-11 22:01] dprotaso commented on #950
This should be resolved - see: https://groups.google.com/g/knative-users/c/dO5P86MfeAU

[2022-07-12 19:00] JRBANCEL opened #952 "Test Istio release "Istio 1.12.9""
Istio recently (2022-07-12 15:46:51 +0000 UTC) released ["Istio 1.12.9"](https://github.com/istio/istio/releases/tag/1.12.9). Let's test it :rocket:.

[2022-07-15 02:11] nak3 commented on #952
Closing as we don't test 1.12.x.

[2022-07-15 02:11] #952 closed

[2022-07-19 21:39] gecube commented on #463
/reopen

I faced the same issue

[2022-07-20 03:16] nak3 commented on #463
xref: https://github.com/knative/serving/issues/13123

[2022-07-26 19:04] AngeloDanducci opened #958 "Include Istio version tested/supported in release notes"
Had someone in Slack ask about supported Istio versions today but our documentation was out of date.

After talking with Dave I think it makes sense to make the docs point directly to the releases page and then include what version of Istio we are supporting/testing in future releases.

[2022-07-26 19:33] dprotaso commented on #958
Any chance we can update the last few releases to mention the version- ie. releases 1.3 to 1.6 are currently in our support window

[2022-07-26 20:01] AngeloDanducci commented on #958
I can go back and update the old releases manually in the meantime 👍

[2022-07-27 01:33] nak3 commented on #958
+1

FYI net-gateway-api adds the release page by this script -https://github.com/knative-sandbox/net-gateway-api/blob/main/hack/release.sh#L69 .
Here is the result https://github.com/knative-sandbox/net-gateway-api/releases

[2022-08-01 19:00] JRBANCEL opened #961 "Test Istio release "Istio 1.14.3""
Istio recently (2022-08-01 16:50:31 +0000 UTC) released ["Istio 1.14.3"](https://github.com/istio/istio/releases/tag/1.14.3). Let's test it :rocket:.

[2022-08-01 19:00] JRBANCEL opened #962 "Test Istio release "Istio 1.13.7""
Istio recently (2022-08-01 17:28:54 +0000 UTC) released ["Istio 1.13.7"](https://github.com/istio/istio/releases/tag/1.13.7). Let's test it :rocket:.

[2022-08-03 14:03] AngeloDanducci commented on #962
Closing as 1.14.x should be tested.

[2022-08-03 14:03] #962 closed

[2022-08-09 17:57] rachitchauhan43 commented on #947
Here is the discussion we had:
https://knative.slack.com/archives/C0186KU7STW/p1659642305077789

Summary/Decision:
Make VS `exportTo` section configurable using a config map.

[2022-08-22 15:16] #961 closed

[2022-08-26 09:06] henrysecond1 opened #973 "not able to change canonical name label"
Some apps like kiali use `service.istio.io/canonical-name`, `canonical-revision` labels, so we want to manually set the labels.
However, we were not able to set them because the net-istio webhook forcefully set these labels.

- https://github.com/knative-sandbox/net-istio/blob/release-1.7/pkg/defaults/deployment_defaults.go#L69-L80

Can we set labels only if the users do not specify them?

[2022-08-26 09:12] nak3 commented on #973
Yes, I think it is no problem to change the webhook as you said. What do you think @AngeloDanducci

[2022-08-26 13:19] AngeloDanducci commented on #973
I'm always in favor of more freedom of configuration as long as the defaults are good 👍

[2022-09-01 19:00] JRBANCEL opened #975 "Test Istio release "Istio 1.15.0""
Istio recently (2022-08-31 22:21:21 +0000 UTC) released ["Istio 1.15.0"](https://github.com/istio/istio/releases/tag/1.15.0). Let's test it :rocket:.

[2022-09-11 12:31] liusongdu commented on #975
Just to post my current use status.
I'm currently using a combination of EKS 1.23, Istio 1.15.0, Knative (serving) 1.7. Currently everything seems work fine on my side.

[2022-09-12 19:00] JRBANCEL opened #979 "Test Istio release "Istio 1.13.8""
Istio recently (2022-09-12 17:19:50 +0000 UTC) released ["Istio 1.13.8"](https://github.com/istio/istio/releases/tag/1.13.8). Let's test it :rocket:.

[2022-09-22 01:09] #979 closed

[2022-09-22 01:10] #975 closed

[2022-09-26 19:00] JRBANCEL opened #984 "Test Istio release "Istio 1.15.1""
Istio recently (2022-09-26 17:27:51 +0000 UTC) released ["Istio 1.15.1"](https://github.com/istio/istio/releases/tag/1.15.1). Let's test it :rocket:.

[2022-09-26 20:21] ca-scribner opened #985 "Configuring Knative to use a local gateway in another namespace"
I am trying to use Knative Serving via the Knative Operator to make `ksvcs` available via a local gateway (not a service mesh).  The `Gateway` I have is shared with other applications, and the workload pods for that gateway are in a separate namespace.  I'm having trouble getting the local side of the gateway to work properly, specifically with the `istio-proxy` deployment deployed in a different

[2022-09-26 21:23] ca-scribner commented on #985
Clarifying one thing, by default Istio's `Gateway` objects do work across namespaces (`Gateway` in `namespace-1` can refer by selector to a deployment of `image: istio/proxy` in `namespace-2`), so the `Gateway` objects themselves I think are fine above.  The problem is the `service` that serves as the entry way into the cluster-local gateway - that service cannot bridge the namespace boundaries by

[2022-09-27 18:41] ca-scribner commented on #985
After some more tweaking, I found that setting:
[code]
resulted in:
* creation of `gateway/knative-ingress-gateway` and `gateway/knative-local-gateway`.  These seem to always be created, regardless of whether they're cited in the config, and control pods named by `selector: {istio: ingressgateway}`.  They open ports 80 and 8081, respectively.
* serving using the `gateway/knative-local-gateway` fro

[2022-10-06 14:46] houshengbo commented on #985
@ca-scribner I have fixed the issue of #1216. I am not sure if that would help with this issue.

[2022-10-07 13:43] nak3 opened #993 "Enable k8s 1.25 test"
Due to https://github.com/istio/istio/issues/41220,  `istioctl manifest generates` does not produce the compatible version for k8s 1.25.

We disabled 1.25 temporary but we should figure out this somehow - e.g. use `istioctl install` for the test.

https://github.com/knative-sandbox/net-istio/blob/f079fd3dec63d08d6a4be4711e7e947e5b7fd129/.github/workflows/kind-e2e.yaml#L25-L28

[2022-10-07 15:49] #993 closed

[2022-10-07 23:00] a7i opened #995 "ClusterRle knative-serving-istio"
ClusterRole `knative-serving-istio` seems to not be binding to any RoleBinding/ClusterRoleBindings. Should this be deleted?

https://github.com/knative-sandbox/net-istio/blob/main/config/200-clusterrole.yaml

[2022-10-08 02:30] a7i opened #996 "outdated istio api"
I am currently using a DestinationRule with load balancer setting of `LEAST_REQUEST` which was introduced in Istio 1.14 ([changelog](https://istio.io/latest/news/releases/1.14.x/announcing-1.14/change-notes/))
[code]
This is currently preventing reconciliation of ingress due to the following error:
[code]

Turns out that the dependency for istio api is not up to date.

[2022-10-08 02:30] a7i commented on #996
/assign

[2022-10-11 03:09] a7i commented on #555
What was the resolution to this?

[2022-10-11 19:00] JRBANCEL opened #998 "Test Istio release "Istio 1.15.2""
Istio recently (2022-10-11 17:31:26 +0000 UTC) released ["Istio 1.15.2"](https://github.com/istio/istio/releases/tag/1.15.2). Let's test it :rocket:.

[2022-10-11 19:00] JRBANCEL opened #999 "Test Istio release "Istio 1.14.5""
Istio recently (2022-10-11 16:06:55 +0000 UTC) released ["Istio 1.14.5"](https://github.com/istio/istio/releases/tag/1.14.5). Let's test it :rocket:.

[2022-10-11 19:00] JRBANCEL opened #1000 "Test Istio release "Istio 1.13.9""
Istio recently (2022-10-11 16:10:28 +0000 UTC) released ["Istio 1.13.9"](https://github.com/istio/istio/releases/tag/1.13.9). Let's test it :rocket:.

[2022-10-13 17:17] AngeloDanducci commented on #998
Done in #1002

[2022-10-13 17:17] #998 closed

[2022-10-13 17:17] AngeloDanducci commented on #1000
Only testing 1.15.x and above now.

[2022-10-13 17:18] AngeloDanducci commented on #999
Only testing 1.15.x and above now.

[2022-10-13 17:18] #999 closed

[2022-10-13 17:18] #1000 closed

[2022-10-13 17:19] AngeloDanducci commented on #984
At 1.15.2 now #1002

[2022-10-13 17:19] #984 closed

[2022-10-19 22:50] treyhyde opened #1003 "Provide delegate virtual service to simplify ingress / reduce need for cluster-local-gateway"
Originally mentioned here: https://knative.slack.com/archives/C012AK2FPK7/p1660149435405279

One overriding concern I have that limits my knative deployments is the pseudo requirement to pass through so many proxies due to the VirtualService config.  I have to pass the traffic from the ingress gateway to the cluster local gateway then to the activator/service.   It would be awesome if we can recon

[2022-10-28 19:00] JRBANCEL opened #1005 "Test Istio release "Istio 1.15.3""
Istio recently (2022-10-28 15:27:33 +0000 UTC) released ["Istio 1.15.3"](https://github.com/istio/istio/releases/tag/1.15.3). Let's test it :rocket:.

[2022-10-31 19:39] dprotaso commented on #938
`NewObservedGenFailure` is actually an error that the knative controllers set

https://github.com/knative/pkg/blob/d1d5c849073b4c59fabeef1aaaf5eece021d9ee2/reconciler/reconcile_common.go#L68-L72

net-istio should rebuild the status conditions - but I wonder if something is causing them to short circuit

[2022-10-31 19:40] dprotaso commented on #938
We don't use Istio's Virtual Service Status block - https://github.com/knative-sandbox/net-istio/blob/abad502be7e14ef7281de0d77dcf5525d1e7e40b/config/400-config-istio.yaml#L67-L70

Since it was really always broken lol

[2022-11-16 20:00] JRBANCEL opened #1014 "Test Istio release "Istio 1.16.0""
Istio recently (2022-11-15 22:28:42 +0000 UTC) released ["Istio 1.16.0"](https://github.com/istio/istio/releases/tag/1.16.0). Let's test it :rocket:.

[2022-11-17 02:42] AngeloDanducci commented on #463
/remove-lifecycle stale

[2022-11-23 18:34] dprotaso commented on #1014
Done

[2022-11-23 18:34] #1014 closed

[2022-11-23 18:36] dprotaso commented on #1005
We're at 1.16.0 now

[2022-11-23 18:36] #1005 closed

[2022-11-23 18:36] dprotaso commented on #996
This has been addressed - https://github.com/knative-sandbox/net-istio/pull/1016

[2022-11-23 18:36] #996 closed

[2022-11-25 19:14] yuzisun commented on #554
/reopen

I could not find a header which can track the original request, `K_SERVING_NAMESPACE` does not seem exist.